.usp-menu {
    display: inline-block;
    position: relative;
}

.usp-menu-button {
    cursor: pointer;
}

.usp-menu:not(:focus-within):not(:hover) > .usp-menu-items {
    left: -9999px;
    width: fit-content;
}

.usp-menu-items {
    z-index: -999;
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

.usp-menu-items_pos_right {
    left: 100%;
    top: 0;
}

.usp-menu-items_pos_left {
    right: 100%;
    top: 0;
}

.usp-menu-items_pos_top {
    bottom: 100%;
}

.usp-menu-items_pos_bottom {
    left: 0;
}

.usp-menu:focus-within > .usp-menu-items,
.usp-menu_on_hover:hover > .usp-menu-items {
    z-index: 102;
    visibility: visible;
    opacity: 1;
    transition: opacity .3s;
}

.usp-menu-group {
    flex: 0 0 100%;
}

.usp-menu-group_content_vertical .usp-bttn.usp-menu-item_button {
    width: 100%;
    padding: 8px 6px;
}

.usp-menu-group_content_horizontal {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.usp-menu-group_content_horizontal > .usp-menu-item_button:not(:last-child) {
    margin-right: 6px;
}

.usp-menu-group_content_horizontal > .usp-bttn.usp-menu-item_button {
    padding: 6px;
}

.usp-bttn.usp-menu-item_button:not(.usp-bttn__mod-only-icon) .usp-bttn__ico {
    min-width: 22px;
}

.usp-menu-item > .usp-menu,
.usp-menu-item > .usp-menu > .usp-menu-button {
    width: 100%;
}

/**
* Style Dark
*/
.usp-menu_style_dark {
    color: var(--uspWhite);
}

.usp-menu_style_dark > .usp-menu-items {
    background: var(--uspGray-700);
    box-shadow: 0 0 8px var(--uspBlack);
}

.usp-menu_style_dark > .usp-menu-items > .usp-menu-group > a.usp-bttn.usp-menu-item_button,
.usp-menu_style_dark > a.usp-bttn.usp-menu-button {
    color: var(--uspWhite);
    background: var(--uspGray-700);
    border: none;
}

.usp-menu_style_dark > .usp-menu-items > .usp-menu-group > a.usp-bttn.usp-menu-item_button:not(.usp-bttn__mod-only-icon):hover,
.usp-menu_style_dark > a.usp-bttn.usp-menu-button:not(.usp-bttn__mod-only-icon):hover {
    background: var(--uspGray-600);
}

/**
* Style White
*/
.usp-menu_style_white {
    color: var(--uspBlack);
}

.usp-menu_style_white > .usp-menu-items {
    background: var(--uspWhite);
    box-shadow: 0 0 8px var(--uspBlack);
}

.usp-menu_style_white > .usp-menu-items > .usp-menu-group > a.usp-bttn.usp-menu-item_button,
.usp-menu_style_white > a.usp-bttn.usp-menu-button {
    color: var(--uspBlack);
    background: var(--uspWhite);
    border: none;
}

.usp-menu_style_white > .usp-menu-items > .usp-menu-group > a.usp-bttn.usp-menu-item_button:not(.usp-bttn__mod-only-icon):hover,
.usp-menu_style_white > a.usp-bttn.usp-menu-button:not(.usp-bttn__mod-only-icon):hover {
    background: var(--uspGray-150);
}

/**
* Style Primary
*/
.usp-menu_style_primary {
    color: var(--uspText);
}

.usp-menu_style_primary > .usp-menu-items {
    background: var(--uspHex);
    box-shadow: 0 0 8px var(--uspBlack);
}

.usp-menu_style_primary > .usp-menu-items > .usp-menu-group > a.usp-bttn.usp-menu-item_button,
.usp-menu_style_primary > a.usp-bttn.usp-menu-button {
    color: var(--uspText);
    background: var(--uspHex);
    border: none;
}

.usp-menu_style_primary > .usp-menu-items > .usp-menu-group > a.usp-bttn.usp-menu-item_button:not(.usp-bttn__mod-only-icon):hover,
.usp-menu_style_primary > a.usp-bttn.usp-menu-button:not(.usp-bttn__mod-only-icon):hover {

}