.wp-admin[class*="userspace_page_"] h2 {
    font-size: 22px;
    line-height: normal;
    margin: 18px 0 24px;
    padding: 0;
}
.wp-admin[class*="userspace_page_"] p {
    font-size: 16px;
}
#usp-options code {
    color: var(--uspRed-800);
    padding: 3px 6px;
    background: var(--uspGray-100);
}
.usp-bttn.usp-bttn__size-standart {
    font-size: 14px;
}
.usp-bttn.usp-bttn__size-medium {
    font-size: 16px;
}
#usp-wrap-notices {
    right: 30px;
    left: auto;
}
.usp-help-option {
    color: var(--uspHex);
    cursor: pointer;
    margin: 0 0 0 6px;
}
.usp-help-option .help-content {
    display: none;
}
.usp-help-dialog .ui-dialog-titlebar-close::before {
    font-size: 26px;
    color: var(--uspRed-500);
    line-height: 1.5;
}
.usp-help-dialog .ui-dialog-titlebar-close:hover::before {
    opacity: .6;
}
.usp-help-dialog .help-content {
    font-size: 16px;
    padding: 12px;
    line-height: normal;
    color: var(--uspGray-700);
}
.usp-field-notice > i + span {
    width: calc(100% - 24px);
    color: var(--uspGray-500);
}

/* START custom field navi */
.usp-custom-fields-navi {
    margin: 12px 0;
    padding: 6px;
}
.usp-custom-fields-navi .usp-types-list {
    border-bottom: var(--uspLine300);
    list-style: none;
    margin: 0;
    padding: 0;
}
.usp-custom-fields-navi .usp-types-list li {
    font-size: 15px;
    margin: 0 0 -1px 6px;
    border: var(--uspLine300);
}
.usp-custom-fields-navi li.current-item {
    border-bottom-color: #f0f0f1;
}
.usp-custom-fields-navi .usp-types-list li a {
    color: var(--uspGray-600);
    height: 26px;
    padding: 6px 12px;
    text-decoration: none;
    background: var(--uspGray-200);
}
.usp-custom-fields-navi .usp-types-list li .uspi + span {
    margin: 0 0 0 6px;
}
.usp-custom-fields-navi .usp-types-list li.current-item a {
    background: #f0f0f1;
    color: var(--uspBlack);
    font-weight: bold;
}
.usp-custom-fields-navi .usp-types-list li:not(.current-item) a:hover {
    background: var(--uspGray-100);
    color: var(--uspBlack);
}
.usp-custom-fields-navi + .usp-custom-fields-navi .usp-types-list {
    padding-left: 30px;
}
.usp-custom-fields-navi i {
    color: var(--uspGreen-700);
    font-size: 24px;
}
