.usp-content {
    box-sizing: border-box;
    line-height: normal;
}
.usp-content-group:not(:last-child) {
    margin-bottom: 30px;
}
.usp-content-group:not(#usp-group-footer):last-child {
    margin-bottom: 18px;
}
.usp-content-group:not(#usp-group-footer) {
    border: var(--uspLine200);
    background: var(--uspGray-50);
    color: var(--uspGray-600);
    font-size: 16px;
    padding: 0 0 12px;
}
.usp-group-title {
    font-weight: lighter;
    font-size: 24px;
    margin: 12px 18px 0;
}
.usp-group-title + .usp-field-notice {
    margin: 0 18px 6px;
}
.usp-content .usp-content-group .group-areas {
    --multiplier: calc(600px - 100%);
}
.usp-group-title + .group-areas,
.usp-field-notice + .group-areas {
    margin-top: 6px;
}
.usp-content > :not(#usp-group-footer) .usp-content-area {
    box-sizing: border-box;
    max-width: 100%;
    flex-grow: 1;
    flex-basis: calc( var(--multiplier) * 999 );
    margin: 18px 0 0;
    width: 450px;
}
@media screen and (max-width:480px) {
    .usp-content > :not(#usp-group-footer) .usp-content-area {
        width: auto;
    }
}
.usp-content-area > * {
    margin: 0 18px;
}
.usp-content-area .usp-field {
    width: calc(100% - 36px);
}
.usp-field-input {
    width: 100%;
    clear: both;
}

.usp-field + .usp-field {
    margin-top: 24px;
    margin-bottom: 6px;
}
.usp-field .usp-field-title {
    font-weight: 500;
    margin: 0 0 6px;
}
.usp-field-notice {
    font-size: 14px;
    line-height: 1.4;
    min-height: 21px;
}
.usp-field-input:not(.type-checkbox-input):not(.type-radio-input) .usp-field-core + .usp-field-notice {
    margin: 6px 0 0;
}
.usp-field-notice > i + span {
    margin: 0 0 0 6px;
}
.usp-field input::placeholder {
    color: var(--uspGray-400);
    opacity: 1;
}
.usp-field input:invalid {
    border-color: var(--uspRed-500) !important;
}
.usp-field input:not([type="file"]):not([type="checkbox"]):not([type="radio"]):not([type="button"]),
.usp-field textarea,
.usp-field select {
    background-color: var(--uspWhite);
    border: var(--uspLine300);
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: var(--uspGray-700);
    float: none;
    font-family: inherit;
    font-size: 16px;
    height: auto;
    line-height: 1.4;
    margin: 0;
    max-width: 100%;
    outline: 0;
    width: 100%;
}
.usp-field input:not([type="file"]):not([type="button"]),
.usp-field textarea {
    padding: 6px 12px;
}
.usp-field input:focus:not([type="file"]):not([type="button"]),
.usp-field textarea:focus {
    background: var(--uspWhite);
    border-color: var(--uspBlue-500) !important;
    box-shadow: none;
    color: var(--uspBlack);
    outline: none;
}
.usp-field select {
    padding: 6px 9px;
}
.usp-maxlength {
    background: var(--uspGray-100);
    border: var(--uspLine300);
    box-sizing: border-box;
    cursor: default;
    font-size: 14px;
    max-height: 100%;
    min-width: 40px;
    padding: 6px;
    position: absolute;
    right: 0;
    top: 0;
    transition: var(--uspLoadFast);
    z-index: 10;
}
.usp-field:not(.type-textarea-field) .usp-maxlength {
    height: 100%;
}
.usp-field :focus + .usp-maxlength {
    border-color: var(--uspBlue-500);
}


.type-dynamic-input .dynamic-value {
    align-items: stretch;
    display: flex;
}
.type-dynamic-input .dynamic-value:not(:last-child) {
    margin: 0 0 6px;
}
.type-dynamic-input .dynamic-value a {
    align-items: center;
    background: var(--uspGray-100);
    border: var(--uspLine300) !important;
    box-shadow: none;
    display: flex;
    font-size: 24px;
    height: auto;
    justify-content: center;
    line-height: 1;
    margin: 0 0 0 6px;
    min-width: 36px;
    padding: 0;
    text-decoration: none;
    transition: var(--uspLoadFast);
    width: auto;
}
.type-dynamic-input .dynamic-value a:hover {
    background: var(--uspWhite);
    text-decoration: none !important;
    box-shadow: none;
}
.type-dynamic-input .fa-minus {
    color: var(--uspRed-500);
}
.type-dynamic-input .fa-plus {
    color: var(--uspGreen-700);
}


.usp-field-input:not(.type-agree-input) .usp-checkbox-box,
.usp-radio-box {
    margin: 0 6px 6px 0;
}
.usp-field input[type="radio"],
.usp-field input[type="checkbox"] {
    left: 12px;
    opacity: 0;
    position: absolute;
    top: 12px;
    z-index: -1;
}
.usp-field .usp-label {
    background: var(--uspGray-100);
    border: var(--uspLine200);
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 6px 9px;
    line-height: 1;
    color: var(--uspGray-700);
}
.usp-label::before {
    background: var(--uspWhite);
    font-family: usp-awesome;
    margin: 0 9px 0 0;
    font-size: 18px;
    color: var(--uspGray-500);
}
.usp-radio-box label::before {
    content: "\f111";
    border-radius: 50%;
}
input[type="radio"]:checked + .usp-label::before {
    content: "\f192";
}
.usp-checkbox-box label::before {
    content: "\f0c8";
}
input[type="checkbox"]:checked + .usp-label::before {
    content: "\f14a";
}


.usp-agree {
    margin: 0 0 6px 0;
    box-shadow: none !important;
    text-decoration: underline;
}


/*usp-runner & usp-range */
.usp-jogger {
    padding: 6px;
}
.usp-jogger-value {
    min-width: 115px;
    padding-right: 18px;
}
.usp-jogger-box {
    background: var(--uspBlue-50);
    height: 10px;
    max-width: 700px;
    width: 100%;
    margin: 12px 6px 6px;
    border: var(--uspLine300);
    box-sizing: border-box;
}
.usp-jogger .ui-slider-handle {
    background: linear-gradient(to bottom, var(--uspWhite), var(--uspGray-200));
    border-radius: 50%;
    cursor: ew-resize;
    height: 24px;
    position: absolute;
    top: -9px;
    touch-action: none;
    width: 24px;
    z-index: 1;
    margin-left: -9px;
    box-shadow: var(--uspBox200);
    border: var(--uspLine300);
}
.usp-jogger .ui-slider-handle:focus {
    box-shadow: var(--uspBox300);
    outline: none;
}


.type-switch-input * {
    transition: var(--uspLoadFast);
}
.usp-switch-box {
    width: 84px;
    height: 36px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 18px;
    cursor: pointer;
}
.usp-switch-label {
    display: block;
    height: inherit;
    border-radius: inherit;
    background: var(--uspGray-300);
}
.usp-switch-label::before, 
.usp-switch-label::after {
    position: absolute;
    top: calc(50% - 8px);
    line-height: 1;
    margin: 0;
}
.usp-switch-label::before {
    content: attr(data-off);
    right: 11px;
    color: var(--uspGray-600);
}
.usp-switch-label::after {
    content: attr(data-on);
    left: 11px;
    color: var(--uspWhite);
    opacity: 0;
}
.type-switch-input .switch-field:checked ~ .usp-switch-label {
    background: var(--uspGreen-700);
}
.type-switch-input .switch-field:checked ~ .usp-switch-label:before {
    opacity: 0;
}
.type-switch-input .switch-field:checked ~ .usp-switch-label:after {
    opacity: 1;
}
.usp-switch-handle {
    position: absolute !important;
    top: 6px;
    left: 6px;
    width: 23px;
    height: 23px;
    background: var(--uspWhite);
    border-radius: 46px;
    box-shadow: var(--uspBox300);
}
.usp-switch-label:active ~ .usp-switch-handle, 
.usp-switch-handle:active {
    width: 42px;
}
.type-switch-input .switch-field:checked ~ .usp-switch-handle {
    left: unset;
    right: 6px;
}
