.usp-content {
    box-sizing: border-box;
    line-height: normal;
}
.usp-content-group:not(:last-child) {
    margin-bottom: 30px;
}
.usp-content-group:not(#usp-group-footer):last-child {
    margin-bottom: 18px;
}
.usp-content-group:not(#usp-group-footer) {
    border: 1px solid var(--uspGray-200);
    background: var(--uspGray-50);
    color: var(--uspGray-600);
    font-size: 16px;
    padding: 0 0 12px;
}
.usp-group-title {
    font-weight: lighter;
    font-size: 24px;
    margin: 12px 18px 0;
}
.usp-group-title + .usp-field-notice {
    margin: 0 18px 6px;
}
.usp-content .usp-content-group .group-areas {
    --multiplier: calc(600px - 100%);
}
.usp-group-title + .group-areas,
.usp-field-notice + .group-areas {
    margin-top: 6px;
}
.usp-content > :not(#usp-group-footer) .usp-content-area {
    box-sizing: border-box;
    max-width: 100%;
    flex-grow: 1;
    flex-basis: calc( var(--multiplier) * 999 );
    margin: 18px 0 0;
    width: 450px;
}
@media screen and (max-width:480px) {
    .usp-content > :not(#usp-group-footer) .usp-content-area {
        width: auto;
    }
}
.usp-content-area > * {
    margin: 0 18px;
}
.usp-field {
    width: calc(100% - 36px);
}
.usp-field-input {
    width: 100%;
}

.usp-field + .usp-field {
    margin-top: 24px;
    margin-bottom: 6px;
}
.usp-field .usp-field-title {
    font-weight: 500;
    margin: 0 0 6px;
}
.usp-field-notice {
    font-size: 13px;
    font-weight: lighter;
    line-height: 1.4;
}
.usp-field-input:not(.type-checkbox-input):not(.type-radio-input) .usp-field-core + .usp-field-notice {
    margin: 6px 0 0;
}
.usp-field-notice > i + span {
    margin: 0 0 0 6px;
}
.usp-field input::placeholder {
    color: var(--uspGray-400);
    opacity: 1;
}
.usp-field input:invalid {
    border-color: var(--uspRed-500) !important;
}
.usp-field input:not([type="file"]):not([type="checkbox"]):not([type="radio"]):not([type="button"]),
.usp-field textarea,
.usp-field select {
    background-color: var(--uspWhite);
    border: 1px solid var(--uspGray-300);
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: var(--uspGray-700);
    float: none;
    font-size: 16px;
    height: auto;
    line-height: 1.4;
    margin: 0;
    max-width: 100%;
    outline: 0;
    transition: all .15s ease-in-out;
    width: 100%;
}
.usp-field input:not([type="file"]):not([type="button"]),
.usp-field textarea {
    padding: 6px 12px;
}
.usp-field input:focus:not([type="file"]):not([type="button"]),
.usp-field textarea:focus {
    background: var(--uspWhite);
    border-color: var(--uspBlue-500) !important;
    box-shadow: none;
    color: var(--uspBlack);
    outline: none;
}
.usp-field select {
    padding: 6px 9px;
}
.usp-maxlength {
    background: var(--uspGray-100);
    border: 1px solid var(--uspGray-300);
    box-sizing: border-box;
    cursor: default;
    font-size: 14px;
    max-height: 100%;
    min-width: 40px;
    padding: 6px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .15s ease-in-out;
    z-index: 10;
}
.usp-field:not(.type-textarea-field) .usp-maxlength {
    height: 100%;
}
.usp-field :focus + .usp-maxlength {
    border-color: var(--uspBlue-500);
}


.type-multiselect-input .hidden {
    display: none !important;
}
.type-multiselect-input .fs-wrap,
.type-multiselect-input .fs-dropdown {
    max-width: 410px;
    width: 100%;
    line-height: 1.4;
}
.type-multiselect-input .fs-label-wrap {
    border-color: var(--uspGray-300);
}
.type-multiselect-input .fs-wrap .fs-label {
    padding: 6px 12px;
}
.type-multiselect-input .fs-dropdown {
    box-shadow: 6px 6px 12px -6px var(--uspGray-400);
    border-color: var(--uspGray-300);
}
.type-multiselect-input .selected .fs-checkbox i {
    background-color: var(--uspHex) !important;
    color: var(--uspText);
}
.type-multiselect-input .fs-search {
    padding: 0;
}


.type-dynamic-input .dynamic-value {
    align-items: stretch;
    display: flex;
}
.type-dynamic-input .dynamic-value:not(:last-child) {
    margin: 0 0 6px;
}
.type-dynamic-input .dynamic-value a {
    align-items: center;
    background: var(--uspGray-100);
    border: 1px solid var(--uspGray-300) !important;
    box-shadow: none;
    display: flex;
    font-size: 24px;
    height: auto;
    justify-content: center;
    line-height: 1;
    margin: 0 0 0 6px;
    min-width: 36px;
    padding: 0;
    text-decoration: none;
    transition: all .15s ease-in-out;
    width: auto;
}
.type-dynamic-input .dynamic-value a:hover {
    background: var(--uspWhite);
    text-decoration: none !important;
    box-shadow: none;
}
.type-dynamic-input .fa-minus {
    color: var(--uspRed-500);
}
.type-dynamic-input .fa-plus {
    color: var(--uspGreen-700);
}


.usp-field-input:not(.type-agree-input) .usp-checkbox-box,
.usp-radio-box {
    margin: 0 6px 6px 0;
}
.usp-field input[type="radio"],
.usp-field input[type="checkbox"] {
    left: 12px;
    opacity: 0;
    position: absolute;
    top: 12px;
    z-index: -1;
}
.usp-field .usp-label {
    background: var(--uspGray-100);
    border: 1px solid var(--uspGray-200);
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 6px 9px;
    line-height: 1;
    color: var(--uspGray-700);
}
.usp-label::before {
    background: var(--uspWhite);
    font-family: usp-awesome;
    margin: 0 9px 0 0;
    font-size: 18px;
    color: var(--uspGray-500);
}
.usp-radio-box label::before {
    content: "\f111";
    border-radius: 50%;
}
input[type="radio"]:checked + .usp-label::before {
    content: "\f192";
}
.usp-checkbox-box label::before {
    content: "\f0c8";
}
input[type="checkbox"]:checked + .usp-label::before {
    content: "\f14a";
}


.usp-agree {
    margin: 0 0 6px 0;
    box-shadow: none !important;
    text-decoration: underline;
}


/*usp-runner & usp-range */
.usp-jogger {
    padding: 6px;
}
.usp-jogger-value {
    min-width: 115px;
    padding-right: 18px;
}
.usp-jogger-box {
    background: var(--uspWhite);
    box-shadow: 0 1px 6px var(--uspBlack-02) inset, 0 0 1px 1px var(--uspBlack-02) inset;
    height: 10px;
    max-width: 700px;
    width: 100%;
    margin: 12px 6px 6px;
}
.usp-jogger .ui-slider-handle {
    background: linear-gradient(to bottom, var(--uspWhite), var(--uspGray-200));
    border-radius: 50%;
    box-shadow: 0 0 5px var(--uspBlack-04), 0 8px 6px var(--uspBlack-01);
    cursor: ew-resize;
    height: 18px;
    position: absolute;
    top: -4px;
    touch-action: none;
    width: 18px;
    z-index: 1;
    margin-left: -9px;
}
.usp-jogger .ui-slider-handle:focus {
    box-shadow: 0 0 6px var(--uspBlack-06);
    outline: none;
}
