/* init masonry script */
.usp-users-masonry[data-columns]::before {
    content: '2 .column.size-1of2';
}

@media screen and (max-width: 480px) {
    .usp-users-masonry[data-columns]::before {
        content: '1 .column.size-1of1';
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .usp-users-masonry[data-columns]::before {
        content: '2 .column.size-1of2';
    }
}

.usp-users-masonry .size-1of1 {
    width: 100%;
}

.usp-users-masonry .size-1of2 {
    width: calc(50% - 9px);
}

.usp-users-masonry .size-1of2 + .size-1of2 {
    margin: 0 0 0 18px;
}

/* end */

.usp-users-masonry .usp-masonry__head {
    height: 130px;
}

.usp-users-masonry .usp-status-user {
    position: absolute;
    right: 3px;
    top: 3px;
}

.usp-users-masonry .usp-status-user.usp-offline {
    background: var(--uspWhite-05);
    padding: 6px 12px;
}

.usp-users-masonry .usp-masonry__ava {
    box-sizing: content-box;
    height: 110px;
    margin: -84px auto 0;
    width: 110px;
    z-index: 2;
}

.usp-users-masonry .usp-masonry__ava-img {
    background-color: var(--uspWhite);
    padding: 6px;
}

.usp-users-masonry .usp-masonry__age {
    color: var(--uspYellow-900);
    margin-top: -12px;
}

.usp-users-masonry .usp-user-fields {
    margin: 18px 0 6px;
}

.usp-users-masonry .usp-user-fields div.usp-field {
    display: flex;
    margin: 0;
}

.usp-users-masonry .usp-user-fields .usp-field-value {
    margin-left: 6px;
}

.usp-users-masonry .usp-masonry__stats {
    gap: 6px;
    margin: 12px 0;
}
