.usp-users-rows .usp-user {
    padding: 12px;
}

.usp-user__left {
    width: 77px;
}

.usp-user__right > :not(:last-child) {
    margin-bottom: 12px;
}

.usp-user__stats,
.usp-user__general {
    margin-left: 12px;
    line-height: 1;
}

.usp-user__link {
    font-size: 20px;
    margin: 0 0 6px;
}

.usp-users-rows .usp-status-user.usp-offline {
    color: var(--uspGray-500);
}

.usp-user__bottom > div:empty,
.usp-user__icons:empty {
    display: none;
}

.usp-user__fields .usp-field {
    display: inline-flex;
    color: var(--uspGray-600);
}

.usp-user__fields .usp-field .usp-field-title {
    margin: 0;
}

.usp-user__fields .usp-field-value {
    margin: 0 0 0 6px;
}

.usp-user__fields,
.usp-user__fields .usp-field + .usp-field {
    margin: 6px 0 0;
}
