.usp-menu {
    display: inline-block;
    position: relative;
}

.usp-menu-button {
    cursor: pointer;
}

.usp-menu-items {
    display: table;
    flex-direction: column;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: -9;
}

body:not(.usp-focused) .usp-menu_on_click:not(.usp-menu_open) > .usp-menu-items,
body:not(.usp-focused) .usp-menu_on_hover:not(:hover):not(:focus-within) > .usp-menu-items,
.usp-focused .usp-menu:not(:focus-within) > .usp-menu-items {
    left: -9999px;
}

.usp-menu.usp-menu_open > .usp-menu-items,
.usp-menu.usp-menu_on_hover:hover > .usp-menu-items,
.usp-focused .usp-menu:focus-within > .usp-menu-items {
    display: flex;
    visibility: visible;
    opacity: 1;
    z-index: 100;
}

.usp-menu-item_submenu > .usp-menu,
.usp-menu-item_submenu > .usp-menu > .usp-bttn.usp-menu-button,
.usp-menu-group_content_vertical .usp-menu-item_button {
    width: 100%;
}

.usp-bttn.usp-menu-button,
.usp-bttn.usp-menu-item_button {
    padding: 6px;
}

.usp-menu-group_content_horizontal,
.usp-menu-item_title {
    text-align: center;
}

.usp-menu-item_title {
    margin: 6px 0;
}

.usp-menu-item_button > .usp-bttn__ico {
    min-width: 20px;
    justify-content: center;
}

.usp-menu-group_content_horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.usp-menu-group_content_horizontal > .usp-menu-item_title {
    flex: 100%;
}

/**
* Menu position
*/
.usp-menu-items.usp-menu-items_pos_right-top {
    left: 100%;
    bottom: 0;
}

.usp-menu-items.usp-menu-items_pos_right-center {
    left: 100%;
    bottom: 50%;
    transform: translateY(50%);
}

.usp-menu-items.usp-menu-items_pos_right-bottom {
    left: 100%;
    top: 0;
}

.usp-menu-items.usp-menu-items_pos_left-top {
    right: 100%;
    bottom: 0;
    left: unset;
}

.usp-menu-items.usp-menu-items_pos_left-center {
    right: 100%;
    bottom: 50%;
    transform: translateY(50%);
    left: unset;
}

.usp-menu-items.usp-menu-items_pos_left-bottom {
    right: 100%;
    top: 0;
    left: unset;
}

.usp-menu-items.usp-menu-items_pos_top-left {
    bottom: 100%;
}

.usp-menu-items.usp-menu-items_pos_top-right {
    bottom: 100%;
    right: 0;
    left: unset;
}

.usp-menu-items.usp-menu-items_pos_bottom-left {
    left: 0;
}

.usp-menu-items.usp-menu-items_pos_bottom-right {
    right: 0;
    left: unset;
}

/**
* Style Dark
*/
.usp-menu_style_dark {
    color: var(--uspWhite);
}

.usp-menu_style_dark > .usp-menu-items {
    background: var(--uspGray-700);
    box-shadow: 0px 0px 3px #00000080;
}

a.usp-bttn.usp-menu-item_button.usp-menu-item_style_dark,
a.usp-bttn.usp-menu-button.usp-menu-button_style_dark {
    background: var(--uspGray-700);
    border: none;
}

a.usp-bttn.usp-menu-item_button.usp-menu-item_style_dark > *,
a.usp-bttn.usp-menu-button.usp-menu-button_style_dark > * {
    color: var(--uspWhite);
}

a.usp-bttn.usp-menu-item_button.usp-menu-item_style_dark:hover,
a.usp-bttn.usp-menu-button.usp-menu-button_style_dark:hover {
    background: var(--uspGray-600);
    opacity: 1;
}

/**
* Style White
*/
.usp-menu_style_white {
    color: var(--uspBlack);
}

.usp-menu_style_white > .usp-menu-items {
    background: var(--uspWhite);
    box-shadow: 0px 0px 3px #00000080;
}

a.usp-bttn.usp-menu-item_button.usp-menu-item_style_white,
a.usp-bttn.usp-menu-button.usp-menu-button_style_white {
    background: var(--uspWhite);
    border: none;
}

a.usp-bttn.usp-menu-item_button.usp-menu-item_style_white > *,
a.usp-bttn.usp-menu-button.usp-menu-button_style_white > * {
    color: var(--uspBlack);
}

a.usp-bttn.usp-menu-item_button.usp-menu-item_style_white:hover,
a.usp-bttn.usp-menu-button.usp-menu-button_style_white:hover {
    background: var(--uspGray-150);
}

/**
* Style Primary
*/
.usp-menu_style_primary {
    color: var(--uspText);
}

.usp-menu_style_primary > .usp-menu-items {
    background: var(--uspHex);
    box-shadow: 0px 0px 3px #00000080;
}

a.usp-bttn.usp-menu-item_button.usp-menu-item_style_primary,
a.usp-bttn.usp-menu-button.usp-menu-button_style_primary {
    background: var(--uspHex);
    border: none;
}

a.usp-bttn.usp-menu-item_button.usp-menu-item_style_primary > *,
a.usp-bttn.usp-menu-button.usp-menu-button_style_primary > * {
    color: var(--uspText);
}

a.usp-bttn.usp-menu-item_button.usp-menu-item_style_primary:hover,
a.usp-bttn.usp-menu-button.usp-menu-button_style_primary:hover {
}
