.usp-table {
    box-sizing: border-box;
    color: var(--uspGray-600);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.4;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin: 16px 0;
}
.usp-table__border {
    border: var(--uspLine200);
}
.usp-table__row {
    align-content: stretch;
    align-items: stretch;
    display: flex;
}
.usp-table__row-header {
    font-weight: bold;
    background: var(--uspGray-150);
}
.usp-table__cell {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    padding: 6px 12px;
    position: relative;
}
.usp-table__cell:empty {
    display: none;
}
.usp-table__cell-center {
    justify-content: center;
    text-align: center;
}
.usp-table__cell-right {
    justify-content: flex-end;
    text-align: right;
}
.usp-table__border-row-right .usp-table__cell:not(:last-child) {
    border-right: var(--uspLine200);
}
.usp-table__border-row-bottom .usp-table__row:not(.usp-table__row-header):not(:last-child) {
    border-bottom: var(--uspLine200);
}
.usp-table__zebra .usp-table__row:nth-child(2n+1):not(.usp-table__row-header) {
    background: var(--uspGray-75);
}
.usp-table__cell-must-sort {
    cursor: pointer;
    text-decoration: underline;
}
.usp-table__row-must-sort .usp-table__cell-current-sort {
    background: var(--uspWhite);
}
.usp-table__row-header .usp-table__cell-current-sort::before {
    font-family: 'usp-awesome';
    position: absolute;
    right: 6px;
}
.usp-table__row-header .usp-table__cell-right.usp-table__cell-current-sort::before {
    left: 6px;
    right: auto;
}
.usp-table__row-header .usp-table__cell-current-sort[data-route="desc"]::before {
    content: "\f0d7";
}
.usp-table__row-header .usp-table__cell-current-sort[data-route="asc"]::before {
    content: "\f0d8";
}

.usp-table__cell-w-5 {flex-basis: 5%;}
.usp-table__cell-w-10 {flex-basis: 10%;}
.usp-table__cell-w-15 {flex-basis: 15%;}
.usp-table__cell-w-20 {flex-basis: 20%;}
.usp-table__cell-w-25 {flex-basis: 25%;}
.usp-table__cell-w-30 {flex-basis: 30%;}
.usp-table__cell-w-35 {flex-basis: 35%;}
.usp-table__cell-w-40 {flex-basis: 40%;}
.usp-table__cell-w-45 {flex-basis: 45%;}
.usp-table__cell-w-50 {flex-basis: 50%;}
.usp-table__cell-w-55 {flex-basis: 55%;}
.usp-table__cell-w-60 {flex-basis: 60%;}
.usp-table__cell-w-65 {flex-basis: 65%;}
.usp-table__cell-w-70 {flex-basis: 70%;}
.usp-table__cell-w-75 {flex-basis: 75%;}
.usp-table__cell-w-80 {flex-basis: 80%;}
.usp-table__cell-w-85 {flex-basis: 85%;}
.usp-table__cell-w-90 {flex-basis: 90%;}
.usp-table__cell-w-95 {flex-basis: 95%;}

.usp-table__not-header .usp-table__row {
    padding: 6px 0;
}

@media screen and (max-width: 768px) {
    .usp-table__border {
        border: 0;
    }
    .usp-table__row-header {
        display: none;
    }
    .usp-table .usp-table__row-header ~ .usp-table__row:not(.usp-table__row-header) {
        background: transparent;
        border-radius: 3px;
        box-shadow: var(--uspBox100);
        margin: 0 6px 24px 6px;
        padding: 12px;
        flex-direction: column;
    }
    .usp-table__row-header ~ .usp-table__row .usp-table__cell {
        align-items: flex-start;
        border: 0;
        flex-basis: auto;
        justify-content: flex-start;
        max-width: none !important;
        padding: 3px 0;
        text-align: left;
    }
    .usp-table__row-header ~ .usp-table__row .usp-table__cell::before {
        color: var(--uspYellow-700);
        content: attr(data-usp-ttitle);
        flex-basis: 50%;
        flex-shrink: 0;
        padding-right: 12px;
        text-align: right;
    }
    .usp-table__not-header .usp-table__row {
        border: var(--uspLine200);
        background: var(--uspGray-75);
        display: block;
        margin: 0 0 12px;
    }
    .usp-table__not-header .usp-table__cell:nth-child(1) {
        max-width: none;
        padding: 3px 9px;
    }
}
