.usp-content-manager .usp-pager,
.usp-content-manager .manager-buttons {
    text-align: right;
}
#usp-manager-filter {
    float: left;
    width: 300px;
    margin-right: 12px;
    padding: 12px;
    position: relative;
}
#usp-manager-filter.dropdown-filter {
    float: none;
    margin: 0;
    padding: 0;
}
#usp-manager-filter .switch-button {
    display: block;
    text-align: center;
    padding: 12px;
    border: var(--uspLine300);
    border-radius: 5px;
    line-height: 1;
}
#usp-manager-filter .filter-content {
    position: absolute;
    z-index: 9;
    background: var(--uspWhite);
    box-shadow: var(--uspBox300);
    padding: 12px;
    left: 0;
    max-height: 500px;
    overflow-y: auto;
    display: none;
    width: 100%;
    border-left: var(--uspLine300);
}
#usp-cols-manager {
    display: flex;
}
#usp-cols-manager .cols-box {
    width: 50%;
    background: var(--uspGray-300);
    margin: 12px;
    padding: 6px;
}
#usp-cols-manager .list-title {
    text-align: center;
    font-weight: 700;
    background: var(--uspWhite);
    padding: 12px;
}
#usp-cols-manager .cols-list {
    height: 100%;
}
#usp-cols-manager .single-col {
    margin: 6px 0 0 0;
    background: var(--uspRed-100);
    padding: 12px;
    border-radius: 3px;
    border: var(--uspLine300);
}
#usp-cols-manager .single-col:not(.disabled) {
    cursor: move;
    background: var(--uspGreen-100);
}
#usp-cols-manager .single-col.hidden {
    display: none;
}
#usp-cols-manager .ui-sortable-placeholder {
    background: var(--uspWhite);
    border: 2px dashed var(--uspGray-400);
    box-sizing: border-box;
    height: 42px;
    width: 100%;
    margin: 12px 0;
}
