.usp-children-field{
	display: none;
}
.usp-children-fields.active{
	display: block;
}
.usp-option-extend-switch{
	padding: 10px;
	display: block;
	border: 1px solid #ccc;
	background: #fcc;
	margin-bottom: 20px;
}

.usp-options{
	margin-right: 10px;
}

.usp-options .extend-options{
	border-left: 5px solid #ff8181!important;
	padding: 5px;
}

.usp-options.hide-extends-options .extend-options{
	display: none;
}
.usp-options .options-menu-boxes{
	margin-right: 10px;
}
.usp-options .options-menu-boxes{
	width: 250px;
	float: left;
}
.usp-options .options-menu-boxes > a{
	width: 100%;
	font-size: 16px;
}
.usp-options .usp-menu > a{
	padding: 5px 0;
	display: flex;
	white-space: unset;
}
.usp-options .usp-menu a > i{

}
.usp-options .usp-menu .usp-bttn__active{
	background: #b6b6b6;
	color: var(--uspWhite);
}

.usp-options .options-form-boxes{
	overflow: hidden;
}

.usp-options .options-box{
	padding: 5px;
	border: 1px solid #ccc;
	width: 550px;
	display: none;
	overflow-y: auto;
	max-height: 800px;
	max-width: 100%;
	box-sizing: border-box;
}

.usp-options .options-box.active{
	display: block;
}

.usp-options .options-group{
	padding: 5px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}

.usp-options-group-title {
	background: #ccc;
	display: block;
	padding: 10px;
	font-size: 16px;
	margin-bottom: 10px;
}
.usp-options .usp-option{
	margin-bottom: 10px;
	position:relative;
}
.usp-options .usp-field-help{
	position: absolute;
    top: 0;
    right: 0;
	display: block;
}
.usp-options .usp-field-help > i{
	padding: 0 9px;
    font-size: 16px;
}
.usp-options .usp-field-help .help-content{
	min-width: 300px;
}
.usp-options .active-menu-item{
	display:none;
	margin-bottom: 5px;
}

@media screen and (max-width:568px) {
	.usp-options .options-menu-boxes{
		width: 100%;
		float: unset;
	}
	.usp-options .active-menu-item{
		display:block;
	}
	.usp-options .usp-menu{
		display:none;
	}
	.usp-options .usp-menu.active-menu{
		display:block;
	}
	.usp-options .usp-submit-options{
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 9;
	}
}