.wp-admin[class*="userspace_page_"] h2:not(.usp-admin-head__title) {
    font-size: 22px;
    line-height: normal;
    margin: 18px 0 24px;
    padding: 0;
}

.wp-admin[class*="userspace_page_"] p {
    font-size: 16px;
}

#usp-options code {
    color: var(--uspRed-800);
    padding: 3px 6px;
    background: var(--uspGray-100);
}

.usp-bttn.usp-bttn__size-standart {
    font-size: 14px;
}

.usp-bttn.usp-bttn__size-medium {
    font-size: 16px;
}

#usp-wrap-notices {
    right: 42px;
    left: auto;
    max-width: 300px;
    top: 63px;
}

#usp-wrap-notices > * {
    min-width: 260px;
}

#usp-wrap-notices .usp-notice__text {
    padding: 3px;
}

.usp-help-option {
    color: var(--uspHex);
    cursor: pointer;
    margin: 0 0 0 6px;
}

.usp-help-option .help-content {
    display: none;
}

.usp-help-dialog .ui-dialog-titlebar-close::before {
    font-size: 26px;
    color: var(--uspRed-500);
    line-height: 1.5;
}

.usp-help-dialog .ui-dialog-titlebar-close:hover::before {
    opacity: .6;
}

.usp-help-dialog .help-content {
    font-size: 16px;
    padding: 12px 18px;
    color: var(--uspGray-700);
    line-height: 1.4;
}

.usp-field-notice > i + span {
    width: calc(100% - 24px);
    color: var(--uspGray-500);
}

/* START custom field navi */
.usp-custom-fields-navi {
    margin: 12px 0;
    padding: 6px;
}

.usp-custom-fields-navi .usp-types-list {
    border-bottom: var(--uspLine300);
    list-style: none;
    margin: 0;
    padding: 0;
}

.usp-custom-fields-navi .usp-types-list li {
    font-size: 15px;
    margin: 0 0 -1px 6px;
    border: var(--uspLine300);
}

.usp-custom-fields-navi li.current-item {
    border-bottom-color: #f0f0f1;
}

.usp-custom-fields-navi .usp-types-list li a {
    color: var(--uspGray-700);
    height: 26px;
    padding: 6px 12px;
    text-decoration: none;
    background: var(--uspGray-200);
}

.usp-custom-fields-navi .usp-types-list li .uspi + span {
    margin: 0 0 0 6px;
}

.usp-custom-fields-navi .usp-types-list li.current-item a {
    background: #f0f0f1;
    color: var(--uspBlack);
    font-weight: 700;
}

.usp-custom-fields-navi .usp-types-list li:not(.current-item) a:hover {
    background: var(--uspGray-100);
    color: var(--uspBlack);
}

.usp-custom-fields-navi + .usp-custom-fields-navi .usp-types-list {
    padding-left: 30px;
}

.usp-custom-fields-navi i {
    color: var(--uspGreen-700);
    font-size: 24px;
}

/* admin header */
.usp-admin-head {
    margin: 20px 20px 20px 0;
    background: var(--uspWhite);
    padding: 18px;
    border: var(--uspLine200);
}

.usp-admin-head__logo .dashicons {
    font-size: 42px;
    width: auto;
    height: auto;
    color: var(--uspGreen-700);
}

.usp-admin-head__name {
    line-height: 1;
    font-size: 32px;
    color: var(--uspBlue-700);
    margin: 0 6px;
}

.usp-admin-head__bottom > :empty {
    display: none;
}

.usp-admin-head__title {
    font-size: 22px;
    margin: 12px 0 0;
    padding: 0;
    line-height: 1.4;
    color: var(--uspGray-700);
}

.usp-admin-head__subtitle {
    font-size: 16px;
    color: var(--uspGray-600);
    line-height: 1.4;
}

.usp-admin-head__right > div {
    margin: 6px;
}

.usp-admin-head__right .dashicons {
    width: auto;
    height: 24px;
    font-size: 30px;
    color: var(--uspBlue-700);
    margin: 0 6px;
}

.usp-admin-head__right a {
    font-size: 16px;
}

.usp-admin__settings {
    margin: 0 20px 20px 0;
}

.usp-admin__settings:not(.usp-admin__fullwidth) {
    max-width: 966px;
}

.usp-admin__sidebar {
    margin-right: 20px;
}

.usp-admin__sidebar > * {
    max-width: 390px;
    background: var(--uspWhite);
    margin-bottom: 6px !important;
}

.usp-admin__sidebar > :nth-child(1) {
    margin-top: 0 !important;
}

@media screen and (max-width: 1024px) {
    .usp-admin__box {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 782px) {
    .usp-admin-head,
    .usp-admin__box > * {
        margin-right: 10px;
    }
}
