.usp-bar {
    box-sizing: border-box;
    font-size: var(--uspSize);
    left: 0;
    min-height: 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;
}

.usp-bar,
.usp-bar .usp-menu > .usp-menu-items {
    background: rgba(var(--uspBarBack), var(--uspBarOpacity));
}

.usp-bar .usp-menu,
.usp-bar .usp-bar-or,
.usp-bar .usp-bttn > * {
    color: var(--uspBarColor);
}

.usp-bar .usp-bttn:hover {
    background: var(--uspBarHover);
}

.usp-bar-black .usp-bttn:hover {
    box-shadow: 0 0 30px 30px var(--uspBlack-02) inset !important;
}

.usp-bar-white {
    border-bottom: var(--uspLine300);
}

.usp-bar > div > div {
    align-self: stretch;
}

.usp-bar-right > div + div {
    margin-left: 6px;
}

.usp-bar > div > div > .usp-bttn {
    padding: 6px 12px;
    align-self: stretch;
}

.usp-bar__bttns:empty {
    display: none;
}

.usp-bar__bttns {
    height: 40px;
    display: flex;
}

.usp-bar__bttns > .usp-bttn {
    padding-left: 12px;
}

.usp-bar__bttns .usp-bttn__count {
    align-self: flex-start;
    margin: .25em .5em 0 -.3em;
}

.usp-bar .usp-entry-bttn {
    padding: 0 9px;
    margin: 0 6px;
}

.usp-bar .usp-bttn__ava {
    width: 40px;
    max-height: 40px;
    object-fit: cover;
    height: 100%;
}

.usp-bar-userlink i {
    padding-right: 6px;
}

.usp-menu_usp_bar_profile_menu > .usp-menu-items {
    min-width: 200px;
}

@media screen and (max-width: 768px) {
    .usp-bar-wrap {
        padding: 0 6px;
        max-width: 100% !important;
    }
}

@media screen and (max-width: 568px) {
    .usp-bar__home > span {
        display: none;
    }
}
