.usp-bar {
    box-sizing: border-box;
    font-size: var(--uspSize);
    left: 0;
    min-height: 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;
}

.usp-bar-primary .usp-menu > .usp-menu-items,
.usp-bar-primary {
    background: rgba(var(--uspRgb), .85);
}

.usp-bar-primary .usp-menu,
.usp-bar-primary .usp-bar-or,
.usp-bar-primary .usp-bttn > * {
    color: var(--uspText);
}

.usp-bar-primary .usp-bttn:hover {
    background: var(--uspHex);
    box-shadow: 0 0 30px 30px var(--uspBlack-02) inset !important;
}

.usp-bar-dark .usp-menu > .usp-menu-items,
.usp-bar-dark {
    background: var(--uspBlack-07);
}

.usp-bar-dark .usp-menu-item,
.usp-bar-dark :not(.usp-menu-group) > .usp-bttn > * {
    color: var(--uspWhite);
}

.usp-bar-dark .usp-menu-item.usp-bttn:hover,
.usp-bar-dark :not(.usp-menu-group) > .usp-bttn:hover {
    background: var(--uspGray-600);
}

.usp-bar-white {
    background: var(--uspWhite);
    border-bottom: var(--uspLine300);
}

.usp-bar-white :not(.usp-menu) > .usp-bttn > * {
    color: var(--uspGray-700);
}

.usp-bar-white :not(.usp-menu-group) > .usp-bttn:hover {
    background: var(--uspGray-150);
}

.usp-bar > div > div {
    align-self: stretch;
}

.usp-bar-right > div + div {
    margin-left: 6px;
}

.usp-bar > div > div > .usp-bttn {
    padding: 6px 12px;
    align-self: stretch;
}

.usp-bar__bttns:empty {
    display: none;
}

.usp-bar .usp-entry-bttn {
    padding: 0 9px;
    margin: 0 6px;
}

.usp-bar .usp-bttn__ava {
    width: 40px;
    max-height: 40px;
    object-fit: cover;
    height: 100%;
}

.usp-bar-userlink i {
    padding-right: 6px;
}

.usp-menu_usp_bar_profile_menu > .usp-menu-items {
    min-width: 200px;
}

@media screen and (max-width: 768px) {
    .usp-bar-wrap {
        padding: 0 6px;
        max-width: 100% !important;
    }
}

@media screen and (max-width: 568px) {
    .usp-bar__home > span {
        display: none;
    }
}
