.usp-bar {
    box-sizing: border-box;
    font-size: var(--uspSize);
    left: 0;
    min-height: 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;
}

.usp-bar-primary {
    background: rgba(var(--uspRgb), .85);
}

.usp-bar-primary .usp-bttn > * {
    color: var(--uspText);
}

.usp-bar-primary .usp-bttn:hover {
    background: var(--uspHex);
    box-shadow: 0 0 30px 30px rgba(0, 0, 0, .3) inset !important;
}

.usp-bar-dark {
    background: var(--uspBlack-07);
}

.usp-bar-white {
    background: var(--uspWhite);
    border-bottom: var(--uspLine300);
}

.usp-bar > div > div {
    align-self: stretch;
}

.usp-bar-right > div + div {
    margin-left: 6px;
}

.usp-bar > div > div > .usp-bttn {
    padding: 6px 12px;
    align-self: stretch;
}

.usp-bar__bttns:empty {
    display: none;
}

.usp-bar .usp-menu {
    align-self: stretch;
}

.usp-bar-right > .usp-menu > .usp-menu-button {
    min-height: 40px;
}

.usp-bar .usp-profile-ava {
    width: 40px;
    max-height: 40px;
    object-fit: cover;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .usp-bar-wrap {
        padding: 0 6px;
        max-width: 100% !important;
    }
}

@media screen and (max-width: 480px) {
    .usp-bar__home > span {
        display: none;
    }
}
