.usp-manager-options{
	max-width: 400px;
}
.usp-fields-manager.structure-simple{
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
}
.usp-fields-manager .manager-title{
	font-size: 16px;
	font-weight: bold;
	display: block;
	margin-bottom: 20px;
}
.usp-fields-manager .usp-manager-box{
	background-color: #f5f5f5;
	border: 1px solid #d5d5d5;
	box-sizing: border-box;
	margin: 10px;
	padding: 10px;
	position: relative;
	vertical-align: top;
}
.usp-fields-manager.structure-simple .usp-manager-box{
	display: inline-block;
	max-width: 500px;
	width: calc(100% - 20px);
}
.usp-fields-manager .fields-box{
	min-height: 50px;
}
.usp-fields-manager .usp-manager-groups .manager-group-settings{
	width: 50%;
}
.usp-fields-manager.structure-edit .manager-group{
	border: 1px solid #ccc;
	margin: 10px 0 0 0;
	position:relative;
}
.usp-fields-manager.structure-edit .group-header{
	padding: 10px;
	background: #bec6f0;
}
.usp-fields-manager.structure-edit .group-header .group-primary-settings{
	display: flex;
	justify-content: space-between;
}
.usp-fields-manager.structure-edit .group-header .group-title-field{
	width: 50%;
}
.usp-fields-manager.structure-edit .group-header .group-title-field .usp-field{
	margin: 0;
}
.usp-fields-manager.structure-edit .manager-group-settings{
	display: none;
}
.usp-fields-manager .manager-field{
	margin: 5px;
	position: relative;
}
.usp-fields-manager .manager-field-header{
	align-items: center;
	background: #eee linear-gradient(to top, #f5f5f5, #eee);
	border: 1px solid #ddd;
	display: flex;
	overflow: hidden;
	padding: 0 5px;
}
.usp-fields-manager .manager-field-header.ui-sortable-handle{
	cursor:move;
}
.usp-fields-manager .manager-field-header .usp-field{
	margin: 0;
	width: 100%;
}
.usp-fields-manager .usp-field .usp-field-title{
	font-weight: bold;
}
.usp-fields-manager .manager-field-settings{
	background-color: #fff;
	border: 1px solid #ddd;
	margin: 0 0 25px;
	padding: 5px;
	display:none;
}
.usp-fields-manager .manager-field-settings.show-settings-field{
	display:block;
}
.usp-fields-manager .field-icon{
	background-color: #f6f6f6;
	border: 1px solid #e5e5e5;
	color: rgb(76, 140, 189);
	font-family: dashicons;
	font-size: 20px;
	margin-right: 10px;
	padding: 5px;
}
.usp-fields-manager .field-title{
	flex-grow: 1;
	font-size: 14px;
	font-weight: bold;
}
.usp-fields-manager .field-control{
	display: flex;
	/*font-family: dashicons;*/
	justify-content: flex-end;
	font-size: 20px;
}
.usp-fields-manager .field-control a,
.usp-fields-manager .field-control span{
	margin: 0!important;
	text-decoration: none;
}
.usp-fields-manager .control-edit{
	color: rgb(76, 140, 189);
	/*content: "\f140";*/
}
.usp-fields-manager .control-move{
	font-size: 18px;
}
.usp-fields-manager .field-id{
	background-color: rgba(224, 248, 201, .6);
	color: #555;
	float: right;
	margin: -5px -5px 0 0;
	padding: 5px 10px;
}
.usp-fields-manager .manager-field .field-icon::before {
	content: "\f111";
}
.usp-fields-manager .manager-field[data-type="text"] .field-icon::before {
	content: "\f464";
}
.usp-fields-manager .manager-field[data-type="textarea"] .field-icon::before {
	content: "\f119";
}
.usp-fields-manager .manager-field[data-type="select"] .field-icon::before {
	content: "\f203";
}
.usp-fields-manager .manager-field[data-type="multiselect"] .field-icon::before {
	content: "\f163";
}
.usp-fields-manager .manager-field[data-type="checkbox"] .field-icon::before {
	content: "\f147";
}
.usp-fields-manager .manager-field[data-type="radio"] .field-icon::before {
	content: "\f159";
}
.usp-fields-manager .manager-field[data-type="email"] .field-icon::before {
	content: "\f466";
}
.usp-fields-manager .manager-field[data-type="tel"] .field-icon::before {
	content: "\f525";
}
.usp-fields-manager .manager-field[data-type="pussword"] .field-icon::before {
	content: "\f112";
}
.usp-fields-manager .manager-field[data-type="number"] .field-icon::before {
	content: "123";
	font-size: 14px;
	font-weight: bold;
	vertical-align: super;
}
.usp-fields-manager .manager-field[data-type="date"] .field-icon::before {
	content: "\f508";
}
.usp-fields-manager .manager-field[data-type="time"] .field-icon::before {
	content: "\f469";
}
.usp-fields-manager .manager-field[data-type="url"] .field-icon::before {
	content: "\f103";
}
.usp-fields-manager .manager-field[data-type="agree"] .field-icon::before {
	content: "\f491";
}
.usp-fields-manager .manager-field[data-type="uploader"] .field-icon::before{
	content: "\f501";
}
.usp-fields-manager .manager-field[data-type="file"] .field-icon::before {
	content: "\f498";
}
.usp-fields-manager .manager-field[data-type="dynamic"] .field-icon::before {
	content: "\f502";
}
.usp-fields-manager .manager-field[data-type="editor"] .field-icon::before {
	content: "\f212";
}
.usp-fields-manager .manager-field[data-type="runner"] .field-icon::before {
	content: "\f229";
}
.usp-fields-manager .manager-field[data-type="range"] .field-icon::before {
	content: "\f108";
}
.usp-fields-manager i.fa-trash{
	color: rgba(229, 57, 53, .7);
}
.usp-fields-manager .ui-sortable-placeholder {
    background: #fff;
    border: 2px dashed var(--uspGray-400);
    box-sizing: border-box;
    height: 45px;
    width: 100%;
    display: block;
    clear: both;
    line-height: normal;
    position: relative;
    margin: 6px 0;
}
.usp-fields-manager .usp-custom-field .dynamic-values {
	background-color: #f5f5f5;
	display: block;
	padding: 10px;
}
.usp-fields-manager .dynamic-values .dynamic-value {
	background: var(--uspGray-200);
	border: 1px solid var(--uspGray-300);
	clear: both;
	line-height: normal;
	padding: 3px;
	position: relative;
}
.usp-fields-manager .dynamic-values.ui-sortable .dynamic-value::after {
	color: var(--uspHex);
	content: "\f0b2";
	cursor: move;
	font-family: usp-awesome;
	align-items: center;
	display: flex;
	font-size: 22px;
	justify-content: center;
	margin: 0 0 0 6px;
	min-width: 36px;
}

.usp-fields-manager .submit-box input {
	box-sizing: border-box;
	width: 100%;
	margin: 10px 0 0;
}
.usp-fields-manager .submit-box .button-primary {
	background-color: rgb(76, 140, 189);
	box-shadow: none;
	font-size: 16px;
	height: auto;
	text-shadow: none;
	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image: initial;
	border-radius: 0px;
	padding: 5px;
}
.usp-fields-manager .submit-box .button-secondary {
	background-color: rgb(230, 230, 230);
	box-shadow: none;
	height: auto;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(212, 212, 212);
	border-image: initial;
	border-radius: 0px;
	padding: 4px;
}
.usp-fields-manager .submit-box .button-secondary:hover {
	background-color: rgb(238, 238, 238);
	border-color: rgb(212, 212, 212);
}

.usp-fields-manager .usp-default-fields{
	padding: 5px;
	background: #fff;
	border: 3px dashed #ccc;
	min-width: 310px;
}
.default-box.fixed .usp-default-fields {
	max-height: 195px;
	overflow: auto;
}
.usp-fields-manager .usp-default-fields .manager-field-settings{
	display: none !important;
}
.usp-fields-manager .usp-default-fields .manager-field-header input{
	pointer-events: none;
	background: #ebebeb;
}
.usp-fields-manager.structure-simple .default-box{
	max-width: 350px;
}
.usp-fields-manager.structure-simple .default-box.fixed .usp-default-fields{
	position: fixed;
	top: 30px;
	z-index: 91;
	box-shadow: 3px 3px 6px 0px #ccc;
}
.usp-fields-manager.structure-edit .default-box.fixed{
	position: fixed;
	top: 21px;
	z-index: 91;
	width: calc(100% - 200px);
	box-shadow: 3px 3px 6px 0px #ccc;
}
.usp-fields-manager.structure-edit .usp-default-fields .manager-field{
	display:inline-block;
}
.usp-fields-manager.structure-edit .usp-default-fields .ui-sortable-placeholder {
	display: inline-block;
	width: auto;
	min-width: 200px;
	margin: 5px;
	vertical-align: bottom;
}
.usp-fields-manager .usp-service-fields .field-control a:not(.control-move){
	display:none;
}

.usp-fields-manager .manager-group-areas{
	display: flex;
	justify-content: center;
	min-height: 100px;
	background: #fff;
}
.usp-fields-manager .manager-area{
	max-width: 550px;
	min-width: 250px;
	width: 100%;
	padding: 5px;
	background: #fff;
}
.usp-fields-manager .manager-area .fields-box{
	padding: 5px;
	background: #fff;
	border: 3px dashed #ccc;

}
.usp-fields-manager .manager-area .area-content{
	max-width: 550px;
	margin: 0 auto;
}
.usp-fields-manager .manager-group-areas > .ui-sortable-area-placeholder {
	background: #ccc;
	border: 2px dashed #aaa;
	box-sizing: border-box;
	height: 150px;
	max-width: 550px;
	width: 100%;
	margin: 5px;
}
.usp-fields-manager .usp-areas-manager{
	padding: 0px;
	position: relative;
	overflow: hidden;
	font-size: 18px;
	background: #fff;
}
.usp-fields-manager .usp-areas-manager a{
	color: #777777;
	padding: 5px 10px;
	display: inline-block;
	line-height: 1;
	text-decoration: none;
}
.usp-fields-manager .usp-areas-manager .left-align{
	float: right;
	padding: 5px;
	background: #eaeaea;
	margin-left: 5px;
	color: #333;
}
.usp-fields-manager .usp-areas-manager .area-move{
	cursor: move;
}
.usp-fields-manager .manager-group > .usp-areas-manager a{
    margin: 0;
    background: #fff;
}
.usp-fields-manager .manager-field.settings-edit{
	position: fixed;
	top: 0;
	z-index: 999;
	height: calc(100% - 50px);
	width: 450px;
	left: calc(50% - 1225px);
	background: rgba(0, 0, 0, .5);
	padding: 50px 1000px 0px 1000px;
}
.usp-fields-manager .manager-field.settings-edit .manager-field-settings{
	display: block;
	overflow: auto;
	width: 450px;
	max-height: 85%;
	box-sizing: border-box;
}
.usp-fields-manager.structure-edit .usp-custom-fields-box {
	max-width: unset;
}
.usp-fields-manager.structure-edit .manager-area{
	margin: 10px;
	border: 1px solid #ccc;
	max-width: none;
	position: relative;
}
.usp-fields-manager.structure-edit .manager-area.ui-resizable:not(:last-child) .ui-resizable-e {
	width: 3px;
	background: #777777;
	height: 100%;
	position: absolute;
	right: -15px;
	top: 0;
	cursor: e-resize;
	border: 2px dashed;
	color: #fff;
}
.usp-fields-manager.structure-edit .manager-area.ui-sortable-helper .ui-resizable-e{
	display:none;
}
.usp-fields-manager.structure-edit .manager-area.ui-sortable-helper{
	max-width: 550px;
}
.usp-fields-manager.structure-edit .area-width-content{
	display:none;
}
.usp-fields-manager.structure-edit .resizable-area .area-width-content{
	position: absolute;
	z-index: 9;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	left: 0;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	height: 100%;
	align-items: center;
	background: rgba(255, 255, 255, .5);
}
.usp-fields-manager .group-manager-button.add-area i{
	color: green;
}
.usp-fields-manager .group-manager-button.group-settings i{
	color: #0073aa;
}
