.usp-media__item {
    border: var(--uspLine200);
    overflow: hidden;
    box-sizing: border-box;
}
.usp-media-grid .usp-media__item {
    height: 120px;
    width: 120px;
    margin: 0 6px 6px 0;
}
.usp-media-list .usp-media__item {
    align-items: center;
    padding: 6px;
    width: 100%;
}
.usp-media-list .usp-media__item:not(:first-child) {
    margin-top: 6px;
}
.usp-media:empty,
.usp-media-grid .usp-file-name {
    display: none;
}
.simple-manager:not(.usp-media-list) .usp-file-manager {
    position: absolute;
    top: 0;
    left: 0;
}
.usp-media {
    margin: 0 0 6px;
}
.usp-uploader {
    margin: 0 0 12px;
}
.usp-dropzone {
    padding: 18px;
    text-align: center;
    font-size: 18px;
    margin: 0 0 12px;
    background: var(--uspGray-300);
}
.usp-dropzone.hover-dropzone {
    background: var(--uspGray-500);
}
.usp-dropzone .dropzone-upload-area {
    padding: 18px;
    border: 3px dashed var(--uspWhite);
}
.usp-uploader-progress {
    overflow: hidden;
    background: var(--uspGray-300);
}
.usp-progress-bar {
    height: 24px;
    padding: 0 6px;
    font-size: 13px;
    color: var(--uspWhite);
    border-right: 6px solid var(--uspGreen-700);
    background: var(--uspGreen-500);
}
.usp-uploader-bttn {
    overflow: hidden;
    min-height: 30px;
    margin: 0 12px 0 0;
}
.usp-uploader-bttn input {
    position: absolute;
    top: 0;
    opacity: 0;
    height: 30px;
    max-width: 110px;
    left: 0;
    cursor: inherit;
    font-size: 26px;
}
.usp-media-grid .usp-media__item.type-file {
    text-align: center;
}
.usp-media-grid .usp-media__item.type-file .usp-file-name {
    display: block;
    background: var(--uspWhite);
    font-size: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.usp-media-list .usp-file-name {
    flex-grow: 1;
    margin: 0 12px;
}
.usp-media-list img {
    width: 36px;
}
