.usp-grid-container {
    margin-top: 20px;
}

.usp-grid-header {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.usp-grid-search {
    display: flex;
    gap: 5px;
}

.usp-grid-search-input {
    min-width: 250px;
}

/* Для карточного грида, где нет других элементов в хедере */
.usp-grid-header:has(.usp-grid-search:only-child) {
    justify-content: flex-end;
}

.usp-grid-body {
    position: relative;
    min-height: 100px;
}

.usp-grid-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    display: none; /* Скрываем по умолчанию, JS будет управлять видимостью */
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    z-index: 10;
}

.usp-grid-footer {
    margin-top: 20px;
}

.usp-grid-pagination ul.page-numbers {
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #c3c4c7;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    background: #fff;
}

.usp-grid-pagination .page-numbers {
    padding: 5px 10px;
    text-decoration: none;
    border-right: 1px solid #c3c4c7;
    color: #2271b1;
    line-height: 1.5;
}

.usp-grid-pagination li:last-child .page-numbers {
    border-right: none;
}

.usp-grid-pagination .page-numbers.current,
.usp-grid-pagination a.page-numbers:hover {
    background: #f0f0f1;
    color: #1d2327;
}