/* mark orphan icons */
i::before {
	content: "😡 🤬";
}

/* collect color palette */
:root{
    --uspRed-500: #ef4444;
    --uspGray-500: #6b7280;
    --uspGray-300: #D1D5DB;
}


/* usps (style) flex layout */
.usps {
    display: flex;
}
.usps:not(.usps__nowrap) {
    flex-wrap: wrap;
}
.usps__inline {
    display: inline-flex;
}
.usps__column {
    flex-direction: column;
}
.usps__right:not(.usps__column) {
    justify-content: flex-end;
}
.usps__column.usps__right {
    align-content: flex-end;
}
.usps__nowrap {
    flex-wrap: nowrap;
}
.usps__grow {
    flex-grow: 1;
}
.usps__grow-0 {
    flex-grow: 0;
}
.usps__shrink {
    flex-shrink: 1;
}
.usps__shrink-0 {
    flex-shrink: 0;
}

.usps__jc-start {
    justify-content: flex-start;
}
.usps__jc-end {
    justify-content: flex-end;
}
.usps__jc-center {
    justify-content: center;
}
.usps__jc-between {
    justify-content: space-between;
}
.usps__jc-around {
    justify-content: space-around;
}
.usps__jc-evenly {
    justify-content: space-evenly;
}

.usps__ai-start {
    align-items: flex-start;
}
.usps__ai-end {
    align-items: flex-end;
}
.usps__ai-center {
    align-items: center;
}
.usps__ai-baseline {
    align-items: baseline;
}
.usps__ai-stretch {
    align-items: stretch;
}

.usps__as-auto {
    align-self: auto;
}
.usps__as-start {
    align-self: flex-start;
}
.usps__as-end {
    align-self: flex-end;
}
.usps__as-center {
    align-self: center;
}
.usps__as-stretch {
    align-self: stretch;
}

/* usps (style) helpers */
.usps__hidden {
    display: none;
}
.usps__invisible {
    visibility: hidden;
}
.usps__relative {
    position: relative;
}
.usps__fit-cover {
    object-fit: cover;
}
.usps__img-reset {
    border: 0;
    height: auto;
    margin: 0;
    max-width: 100%;
    width: 100%;
}

.usps__text-left {
    text-align: left;
}
.usps__text-center {
    text-align: center;
}
.usps__text-right {
    text-align: right;
}
.usps__text-cut {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.usps__radius-3 {
    border-radius: 3px;
}
.usps__radius-6 {
    border-radius: 6px;
}
.usps__radius-50 {
    border-radius: 50%;
}

.usps__shadow-0 {
    box-shadow: none;
}
.usps__line-1 {
    line-height: 1;
}
.usps__line-normal {
    line-height: normal;
}
/* END */

/*----------------------
>>> Table of contents
------------------------
  1. General
  2. Notify & USP Notice
  3. USP preloader
  4. USP smiles
  5. User online/offline
  6. Ballun
  7. USP buttons states
  8. TODO: data-filters buttons
  9. TODO: upload buttons
  10. Search filter
  11. USP pagenavi API
  12. Detailed information
  13. Post bar
  14. TODO: old generation
  15. New USP Notice
  16. USP Buttons API
  17. Manager Content
  18. User Widget
------------------------*/


/*-----------------------------
  1. General
-------------------------------*/
[class^="uspi fa-"]::before,
[class*=" uspi fa-"]::before {
    padding: 0;
}
.uspi.usp-icon {
    background-color: #b9c9d6;
    box-sizing: content-box;
    color: #fff;
    margin-right: 5px;
    padding: 5px;
    text-align: center;
    width: 15px;
}
:root span.required {
    font: bold 15px/1 Verdana,arial;
    padding: 0;
    color: var(--uspRed-500);
}
#usp-overlay {
    background: rgba(0, 0, 0, .7);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}
/*end*/


/*--------------------------
  2. Notify & USP Notice
----------------------------*/
.usp-office .notify-lk {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
}
.usp-office .notify-lk div {
    padding: 6px 2px 6px 10px;
}
#usp-notice {
    left: 10px;
    position: fixed;
    top: 70px;
    width: 210px;
    z-index: 1501;
}
#usp-notice .notice-window {
    animation-duration: 0.3s;
    font-size: 14px;
    line-height: 1.2;
    margin: 5px 0;
    padding: 8px 2px 8px 10px;
    word-wrap: break-word;
}
.notify-lk .error,
#usp-notice .type-error {
    background: rgb(255, 207, 207);
    border-left: 3px solid var(--uspRed-500);
    color: var(--uspRed-500);
}
.notify-lk .warning,
#usp-notice .type-warning {
    background: #fff5ce;
    border-left: 3px solid #333;
    color: #333;
}
.notify-lk .success,
#usp-notice .type-success {
    background: #bfffbd;
    border-left: 3px solid #008000;
    color: #008000;
}
#usp-notice .notice-window .close-notice {
    color: inherit;
    float: right;
    padding: 0 5px 0 4px;
}
/*end*/


/*------------------------
  3. USP preloader
--------------------------*/
body .preloader-parent {
    position: relative;
}
body .usp_preloader {
    background: rgba(255,255,255,0.6) !important;
    display: block !important;
    height: 100% !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 99;
}
.usp_preloader i {
    color: var(--uspHex);
    left: 50%;
    position: absolute;
    top: 50%;
}
/*end*/


/*------------------
  4. USP smiles
--------------------*/
.usp-smiles {
    clear: both;
    float: right;
    position: relative;
}
.usp-smiles > i {
    color: #4c8cbd;
    cursor: pointer;
    font-size: 20px;
}
.usp-smiles .smiles {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px #ccc;
    box-sizing: border-box;
    padding: 3px;
    text-align: left;
    width: 350px;
}
.usp-smiles .usp-smiles-list {
    bottom: 0;
    display: none;
    padding: 0 15px 20px 0;
    position: absolute;
    right: 0;
    z-index: 9;
}
.usp-smiles > img:hover +.usp-smiles-list,
.usp-smiles .usp-smiles-list:hover {
    display: block;
}
.usp-smiles .smiles img {
    cursor: pointer;
    display: inline-block;
    height: 18px !important;
    margin: 3px !important;
    width: auto !important;
}
/*end*/


/*------------------------
  5. User online/offline
--------------------------*/
.usp-new-users p,
.usp-online-users p {
    margin: 5px 0;
    padding: 0;
}
span i.uspi.fa-circle {
    font-size: 16px;
    padding: 0;
    vertical-align: inherit;
}
.online .uspi.fa-circle {
    animation: pulsate 2s linear infinite;
    color: #89e535;
}
.offline .uspi.fa-circle {
    color: var(--uspRed-500);
    text-shadow: 0 0 1px #5a0d0c;
}
@keyframes pulsate {
    25% {transform: scale(.95);}
    50% {text-shadow: 0 0 3px #35e668;transform: scale(.75);}
    75% {transform: scale(.85);}
}
/*end*/





/*------------------
  6. Ballun
--------------------*/
.usp-descr-wrap {
    max-width: 400px;
}
.usp-descr-top {
    margin-top: 18px;
}
.usp-descr-left {
    margin-left: 18px;
}
.usp-descr {
    background: #fff;
    border: 1px solid var(--uspHex);
    min-width: 48px;
    padding: 6px 9px;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}
.usp-descr::before {
    border-color: transparent;
    border-style: solid;
    border-width: 12px 0 0 12px;
    content: "";
    height: 0;
    position: absolute;
    width: 0;
}
.usp-descr-top .usp-descr::before {
    border-left-color: var(--uspHex);
    left: 12px;
    top: -12px;
}
.usp-descr-left .usp-descr::before {
    border-top-color: var(--uspHex);
    left: -12px;
    top: 12px;
}


/*new balloon*/
.usp-balloon {
	position: absolute;
	background: rgb(255, 255, 255);
	right: 0;
	top: calc(100% + 1.5em);
	z-index: 9;
	padding: 3px 10px;
	border: 1px solid rgb(0, 0, 0);
	display:flex;
	opacity: 0;
	transform: translate3d(0px, 0px, 0px);
	transition: all 0.2s ease-in-out 0s;
	visibility: hidden;
	border-radius: 3px;
	text-align: left;
}
.usp-balloon::before,
.usp-balloon::after{
	border-width: 0px 10px 10px 10px;
	border-style: solid;
	content: "";
	height: 0;
	right: 5px;
	position: absolute;
	width: 0;
}

.usp-balloon::before{
	border-color: transparent transparent rgb(0, 0, 0) transparent;
	top: -11px;
}

.usp-balloon::after{
	border-color: transparent transparent rgb(255, 255, 255) transparent;
	top: -10px;
}
.usp-balloon-hover{
	position:relative;
}
.usp-balloon-hover:hover .usp-balloon{
	cursor: default;
	opacity: 1;
	transform: translateY(-18px);
	visibility: visible;
}
.usp-balloon.position-top{
	top:auto;
	bottom: calc(100% - 1em);
}
.usp-balloon.position-top::before,
.usp-balloon.position-top::after{
	border-width: 10px 10px 0px 10px;
}
.usp-balloon.position-top::before{
	border-color: rgb(0, 0, 0) transparent transparent transparent;
	bottom: -11px;
	top:auto;
}
.usp-balloon.position-top::after{
	border-color: rgb(255, 255, 255) transparent transparent transparent;
	bottom: -10px;
	top:auto;
}
/*end*/





/*--------------------------------
  7. USP buttons states
----------------------------------*/
.usp-search-form input[type="submit"]:hover,
.usp-upload-button input[type="file"]:hover {
    cursor: pointer;
}
a.data-filter.filter-active,
a.data-filter.filter-active:hover {
    box-shadow: none;
    color: rgb(30, 56, 75);
    cursor: default;
    opacity: 1;
    background: rgba(var(--uspRgb), .4);
}
/*end*/




/*---------------------------------
  8. TODO: data-filters buttons
-----------------------------------*/
.usp-data-filters {
    margin: 10px 0;
}
.usp-data-filters a:link {                      /*++Twenty15++*/
    border: none;
    text-decoration: none;                      /*++Twenty14++*/
}
/*end*/


/*----------------------------
  9. TODO: upload buttons
------------------------------*/
.usp-upload-button {
    position: relative;
}
.usp-upload-button input[type="file"] {
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
/*end*/


/*-------------------
  10. Search filter
---------------------*/
.usp-search-form {
    clear: both;
    margin-bottom: 10px;
    text-align: right;
}
.usp-search-form-title {
    padding: 0 0 3px;
}
.usp-search-form form input[type="text"],
.usp-search-form form select {
    border-radius: 0;
    border: 1px solid #ccc;
    box-shadow: none;
    box-sizing: border-box;
    color: #000;
    display: inline-block;
    font-size: 14px;
    height: auto;
    line-height: normal;
    margin: 2px;
    outline: none;
    vertical-align: middle;
    width: auto;
}
.usp-search-form form input[type="text"] {
    padding: 4px 6px;
}
.usp-search-form form input[type="text"]:focus {
    background-color: #fff;
    border-color: #bbb;
}
.usp-search-form form select {
    padding: 3px;
}
.usp-search-form form input[type="submit"] {
    border-radius: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding: 5px 14px;
    vertical-align: middle;
}
/*end*/


/*-----------------------
  11. USP pagenavi API
-------------------------*/
.usp-pager {
    box-shadow: 0 0 1px 1px rgba(219, 219, 219, 0.8);
    box-sizing: border-box;
    clear: both;
    padding: 6px 5px;
	margin: 10px 0;
	line-height: 1;
}
.usp-pager > span{
	margin: 0 2px;
}
body .usp-pager > span a.usp-bttn{
	margin: 0!important;
}
/*end*/



/*----------------------------------
  12. Detailed information
------------------------------------*/
.usp-detailed-ava {
    border-radius: 0;
    display: block;
    float: none;
    padding: 0;
}
.usp-user-avatar .usp-avatar-zoom {
    background: rgba(0, 0, 0, .5);
    color: #fff;
    font-size: 150px;
    height: 100%;
    opacity: .7;
    position: absolute;
    text-decoration: none;
    top: 0;
    width: 100%;
}
.usp-user-avatar:hover .usp-avatar-zoom {
    display: flex;
}
/*end*/





/*--------------------
  13. Post bar
----------------------*/
#usp-post-bar {
    margin: 10px 0;
    text-align: right;
}
#usp-post-bar .post-bar-item {
    display: inline-block;
}
#usp-post-bar .post-bar-item a {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 0 5px;
}
#usp-post-bar .post-bar-item span,
#usp-post-bar .post-bar-item i {
    vertical-align: middle;
}
#usp-post-bar .post-bar-item i {
    margin: 0;
}
#usp-post-bar .post-bar-item i::before {
    padding: 0 5px;
}
#usp-post-bar .post-bar-item .item-label {
    padding: 0 5px;
    margin: 0;
}
/*end*/



/*---------------------------
  14. TODO: old generation
-----------------------------*/
.usp-upload-button span.progress-bar {
    background: #36C515;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: -99;
}
/*end*/

/*---------------------------
  15. New USP Notice
-----------------------------*/
.usp-notice {
    box-sizing: border-box;
    clear: both;
    font-size: 16px;
    margin: 12px 0 !important;
    overflow: hidden;
    padding: 12px 36px !important;
}
.usp-notice__border {
    border-width: 1px;
    border-style: solid;
}
/* AAA accebillity color > 7 contrast*/
.usp-notice__type-info {
    background-color: #fff7da;
    color: #56562a;
}
/* border is background-color down to 20 point in firefox */
.usp-notice__type-info.usp-notice__border {
    border-color: #ebe3c6;
}
.usp-notice__type-success {
    background-color: #e6f4cd;
    color: #2e582e;
}
.usp-notice__type-success.usp-notice__border {
    border-color: #d2e0b9;
}
.usp-notice__type-warning {
    background-color: #ffe0b1;
    color: #594628;
}
.usp-notice__type-warning.usp-notice__border {
    border-color: #ebcc9d;
}
.usp-notice__type-error {
    background-color: #f9dcdc;
    color: #71363e;
}
.usp-notice__type-error.usp-notice__border {
    border-color: #e5c8c8;
}
.usp-notice__type-simple {
    background-color: #eee;
    color: #4e4e4e;
}
.usp-notice__type-simple.usp-notice__border {
    border-color: #dadada;
}
.usp-notice > .uspi {
    color: rgba(0, 0, 0, .1);
    font-size: 52px;
    left: -9px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.usp-notice .usp-notice__text {
    text-align: center;
}
.usp-notice__text > p {
    margin: 0;
    padding: 0;
}
.usp-notice__title {
    color: currentColor;
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 0 6px 6px;
}
.usp-notice__close {
    cursor: pointer;
    font-size: 15px;
    line-height: 15px;
    position: absolute;
    right: 2px;
    top: 0;
}
.usp-notice__close:hover {
    opacity: .7;
}
.usp-notice__close::before {
    color: currentColor;
    content: "\f00d";
    font-family: usp-awesome;
}

/**/

/*---------------------------
  16. USP Buttons API
-----------------------------*/
/*
usp-bttn__type-clear	- примитивная
usp-bttn__type-simple	 - простая
usp-bttn__type-primary	- реколл-цвет
*/


/* Общий стиль */
body .usp-bttn {
	align-items: center;
	border-radius: 0;
	/*border: 0 !important;*/
	box-shadow: none;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-flex;
	/*	font-size: 12px;		 start size for em - идёт инлайном. т.к. задается через кастомайзер */
	font-weight: normal;
	letter-spacing: normal;
	line-height: 1em;
	outline: 0;
	padding: 0;
	position: relative;
	text-decoration: none !important;
	text-transform: none;
	white-space: nowrap;

	-webkit-transition: opacity .1s ease,color .1s ease;
	transition: opacity .1s ease,color .1s ease;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
body :not(.usp-wrap__wiget) > .usp-bttn:not(.usp-bttn__active):hover {
    opacity: .8;
}
body:not(.wp-admin) .usp-bttn.usp-bttn__type-primary:not(.usp-bttn__active) {
    background: var(--uspHex);
    color: var(--uspText);
}
/* END общий стиль */

/* пересекающие стили для 2х кнопок: usp-bttn__type-simple и usp-bttn__type-primary */
body .usp-bttn:not(.usp-bttn__type-clear):not(.usp-bttn__fullwidth) {
	margin: 0 .25em .25em 0;
}
body .usps.usps__column .usp-bttn,
body .usp-bttn:not(.usp-bttn__type-clear):last-child {
	margin-right: 0;
}
.usp-bttn:not(.usp-bttn__type-clear) .usp-bttn__text,
.usp-bttn:not(.usp-bttn__type-clear) .usp-bttn__ico-left {
	padding: .5em .7em;
}
.usp-bttn:not(.usp-bttn__type-clear):not(.usp-bttn__ico-mask) .usp-bttn__text + .usp-bttn__ico,
.usp-bttn:not(.usp-bttn__type-clear):not(.usp-bttn__ico-mask) .usp-bttn__ico + .usp-bttn__text,
.usp-bttn:not(.usp-bttn__type-clear):not(.usp-bttn__ico-mask) .usp-bttn__ico + .usp-bttn__count {
	padding: 0 .7em 0 0;
}
.usp-bttn:not(.usp-bttn__type-clear) .usp-bttn__text + .usp-bttn__count {
	align-self: flex-start;
	font-size: .85em;
	margin: .5em .5em 0 -.3em;
}
.usp-bttn .usp-bttn__ava img {
	border-radius: 0;
	border: 0;
	box-shadow: none;
	display: block;
	float: none;
	height: auto;
	margin: 0;
	max-width: 100%;
	padding: 0;
}
.usp-bttn:not(.usp-bttn__type-clear) .usp-bttn__ava + .usp-bttn__count {
	padding: 0 .7em;
}
/* END пересекающие стили для 2х кнопок: usp-bttn__type-simple и usp-bttn__type-primary */


/* стиль clear */
:not(.usps__column) > .usp-bttn:not(.usp-bttn__fullwidth).usp-bttn__type-clear {
	margin: 0 .75em 0 0;
}
.usp-bttn__type-clear .usp-bttn__text + .usp-bttn__count,
.usp-bttn__type-clear i + span,
.usp-bttn__type-clear span + i {
	padding: 0 0 0 .75em;
}
/* END clear */

/* стиль simple */
.usp-bttn.usp-bttn__type-simple {
	background-color: #f5f5f5;
	box-shadow: 0 0 0 1px #e5e5e5 inset;
}
.usp-bttn.usp-bttn__type-simple:hover {
	background-color: #fafafa;
}
/* END simple */


/********************
	Modificators
*********************/

/* fullwidth */
.usp-bttn.usp-bttn__fullwidth {
	display: flex;
	justify-content: center;
}
/* END fullwidth */

/* masked icon */
.usp-bttn.usp-bttn__ico-mask .uspi,
.usp-bttn__ico-mask.usp-bttn__mod-text-rico-count .usp-bttn__count {
	background-color: rgba(0,0,0,.1);
}
.usp-bttn__ico-mask.usp-bttn__mod-text-rico .usp-bttn__ico-right,
.usp-bttn__ico-mask.usp-bttn__mod-text-rico-count .usp-bttn__count {
	padding: .5em .7em;
}
.usp-bttn__ico-mask.usp-bttn__mod-text-rico-count .usp-bttn__ico.usp-bttn__ico-right {
	padding: .5em 0 .5em .7em;
}
/* END masked icon */



/* special wiget list style */
.usp-wrap__wiget .usp-bttn__type-clear {
	padding: .45em .6em;
}
.usp-wrap__wiget .usp-bttn__type-clear:hover {
	background-color: #e7edf0;
	box-shadow: none;
}
.usp-wrap__wiget .usp-bttn__ava {
	flex-shrink: 0;
}
.usp-wrap__wiget .usp-bttn__text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}
.usp-wrap__wiget .usp-bttn__text {
	margin-left: .3em;
}
.usp-wrap__wiget .usp-bttn__ava_circle .usp-bttn__ava img {
	border-radius: 50%;
}
/* END special wiget list style */


/********************
	conditions
*********************/

/* loader */
.usp-bttn.usp-bttn__loading {
	color: transparent !important;
	cursor: default;
	opacity: 1;
	pointer-events: none;
}
.usp-bttn__loading .usp-bttn__ava img {
	opacity: 0;
}
.usp-bttn.usp-bttn__loading::before,
.usp-bttn.usp-bttn__loading::after {
	border-radius: 50%;
	border-style: solid;
	border-width: .2em;
	box-sizing: border-box;
	content: "";
	height: 1.4em;
	left: 50%;
	margin: -.7em;
	position: absolute;
	top: 50%;
	width: 1.4em;
}
.usp-bttn.usp-bttn__loading::before {
	border-color: rgba(0,0,0,.15);
}
.usp-bttn.usp-bttn__loading::after {
	animation: usp-bttn-loader .8s linear;
	animation-iteration-count: infinite;
	border-color: #fff transparent transparent;
	transform: rotate(0deg);
}
@-webkit-keyframes usp-bttn-loader {
	to {-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}
@keyframes usp-bttn-loader {
	to {-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}
/* END loader */

/* condition */
.usp-bttn.usp-bttn__disabled {
	opacity: .6;
	pointer-events: none;
}
.usp-bttn.usp-bttn__type-simple.usp-bttn__disabled {
	background-color: transparent;
	box-shadow: none;
}
.usp-bttn.usp-bttn__active {
	pointer-events: none;
}
.usp-bttn.usp-bttn__type-primary.usp-bttn__active {
	color: #333;
        background: rgba(var(--uspRgb), .4);
}
.usp-bttn.usp-bttn__type-simple.usp-bttn__active {
    box-shadow: 0 -5px 0 -3px var(--uspHex) inset;
}
/* END */


/*---------------------------
  17. Manager Content
-----------------------------*/
.usp-content .usp-content-group .group-title{
	font-weight:bold;
	font-size:20px;
}
.usp-content .usp-content-group .group-areas {
    display: flex;
    flex-wrap: wrap;
    --multiplier: calc( 600px - 100%);
}
.usp-content .usp-content-area {
    padding: 5px;
    box-sizing: border-box;
    max-width: 100%;
    flex-grow: 1;
    flex-basis: calc( var(--multiplier) * 999 );
}
/**/

/*---------------------------
  18. User Widget
-----------------------------*/
.usp-user-widget{
	display: flex;
}
.usp-user-widget .userdata{
	margin-right: 10px;
}
.usp-user-widget .buttons{

}
/* End */
