/* mark orphan icons */
i::before {
	content: "😡 🤬";
}

/* collect color palette */
:root{
    --uspBlack: #000;
    --uspBlack-01: rgba(0, 0, 0, .1);
    --uspBlack-02: rgba(0, 0, 0, .2);
    --uspBlack-03: rgba(0, 0, 0, .3);
    --uspBlack-04: rgba(0, 0, 0, .4);
    --uspBlack-05: rgba(0, 0, 0, .5);
    --uspBlack-06: rgba(0, 0, 0, .6);
    --uspBlack-07: rgba(0, 0, 0, .7);
    
    --uspWhite: #fff;
    --uspWhite-05: rgba(255, 255, 255, .5);
    
    --uspGray-50: #fdfdfd;
    --uspGray-100: #f4f4f5;
    --uspGray-200: #e5e5e5;
    --uspGray-300: #d1d5db;
    --uspGray-400: #9ca3af;
    --uspGray-500: #69707e;
    --uspGray-600: #4b5563;
    --uspGray-700: #374151;
    
    --uspGeen-700: #15803d;
    --uspGeen-500: #10B981;
    
    --uspBlue-500: #3b82f6;
    
    --uspRed-500: #ef4444;
    --uspRed-900: #7f1d1d;
}


/* usps (style) flex layout */
.usps {
    display: flex;
}
.usps:not(.usps__nowrap) {
    flex-wrap: wrap;
}
.usps__inline {
    display: inline-flex;
}
.usps__column {
    flex-direction: column;
}
.usps__nowrap {
    flex-wrap: nowrap;
}
.usps__grow {
    flex-grow: 1;
}
.usps__grow-0 {
    flex-grow: 0;
}
.usps__shrink {
    flex-shrink: 1;
}
.usps__shrink-0 {
    flex-shrink: 0;
}

.usps__jc-start {
    justify-content: flex-start;
}
.usps__jc-end {
    justify-content: flex-end;
}
.usps__jc-center {
    justify-content: center;
}
.usps__jc-between {
    justify-content: space-between;
}
.usps__jc-around {
    justify-content: space-around;
}
.usps__jc-evenly {
    justify-content: space-evenly;
}

.usps__ai-start {
    align-items: flex-start;
}
.usps__ai-end {
    align-items: flex-end;
}
.usps__ai-center {
    align-items: center;
}
.usps__ai-baseline {
    align-items: baseline;
}
.usps__ai-stretch {
    align-items: stretch;
}

.usps__as-auto {
    align-self: auto;
}
.usps__as-start {
    align-self: flex-start;
}
.usps__as-end {
    align-self: flex-end;
}
.usps__as-center {
    align-self: center;
}
.usps__as-stretch {
    align-self: stretch;
}

/* usps (style) helpers */
.usps__hidden {
    display: none;
}
.usps__invisible {
    visibility: hidden;
}
.usps__relative {
    position: relative;
}
.usps__fit-cover {
    object-fit: cover;
}
.usps__img-reset {
    border: 0;
    height: auto;
    margin: 0;
    max-width: 100%;
    width: 100%;
}

.usps__text-left {
    text-align: left;
}
.usps__text-center {
    text-align: center;
}
.usps__text-right {
    text-align: right;
}
.usps__text-cut {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.usps__no-select {
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.usps__radius-3 {
    border-radius: 3px;
}
.usps__radius-6 {
    border-radius: 6px;
}
.usps__radius-50 {
    border-radius: 50%;
}

.usps__shadow-0 {
    box-shadow: none;
}
.usps__line-1 {
    line-height: 1;
}
.usps__line-normal {
    line-height: normal;
}
/* END */

/*----------------------
>>> Table of contents
------------------------
  1. General
  2. Notify & USP Notice
  3. USP preloader
  4. USP smiles
  5. User online/offline
  6. Ballun
  7. USP buttons states
  9. TODO: upload buttons
  10. Search filter
  11. USP pagenavi API
  12. Detailed information
  13. Post bar
  14. New USP Notice
  15. USP Buttons API
  16. User Widget
------------------------*/


/*-----------------------------
  1. General
-------------------------------*/
[class^="uspi fa-"]::before,
[class*=" uspi fa-"]::before {
    padding: 0;
}
:root span.required {
    font: bold 15px/1 Verdana,arial;
    padding: 0;
    color: var(--uspRed-500);
}
#usp-overlay {
    background: var(--uspBlack-07);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}
/*end*/


/*--------------------------
  2. Notify & USP Notice
----------------------------*/
.usp-office .notify-lk {
    color: var(--uspBlack);
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
}
.usp-office .notify-lk div {
    padding: 6px 2px 6px 10px;
}
#usp-notice {
    left: 10px;
    position: fixed;
    top: 70px;
    width: 210px;
    z-index: 1501;
}
#usp-notice .notice-window {
    animation-duration: .3s;
    font-size: 14px;
    line-height: 1.2;
    margin: 5px 0;
    padding: 8px 2px 8px 10px;
    word-wrap: break-word;
}
.notify-lk .error,
#usp-notice .type-error {
    background: rgb(255, 207, 207);
    border-left: 3px solid var(--uspRed-500);
    color: var(--uspRed-500);
}
.notify-lk .warning,
#usp-notice .type-warning {
    background: #fff5ce;
    border-left: 3px solid #333;
    color: #333;
}
.notify-lk .success,
#usp-notice .type-success {
    background: #bfffbd;
    border-left: 3px solid var(--uspGeen-700);
    color: var(--uspGeen-700);
}
#usp-notice .notice-window .close-notice {
    color: inherit;
    float: right;
    padding: 0 5px 0 4px;
}
/*end*/


/*------------------------
  3. USP preloader
--------------------------*/
body .preloader-parent {
    position: relative;
}
body .usp_preloader {
    background: var(--uspWhite-05) !important;
    display: block !important;
    height: 100% !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 99;
}
.usp_preloader i {
    color: var(--uspHex);
    left: 50%;
    position: absolute;
    top: 50%;
}
/*end*/


/*------------------
  4. USP smiles
--------------------*/
.usp-smiles {
    clear: both;
    float: right;
    position: relative;
}
.usp-smiles > i {
    color: #4c8cbd;
    cursor: pointer;
    font-size: 20px;
}
.usp-smiles .smiles {
    background: var(--uspWhite);
    border-radius: 5px;
    box-shadow: 0 0 1px 1px #ccc;
    box-sizing: border-box;
    padding: 3px;
    text-align: left;
    width: 350px;
}
.usp-smiles .usp-smiles-list {
    bottom: 0;
    display: none;
    padding: 0 15px 20px 0;
    position: absolute;
    right: 0;
    z-index: 9;
}
.usp-smiles > img:hover +.usp-smiles-list,
.usp-smiles .usp-smiles-list:hover {
    display: block;
}
.usp-smiles .smiles img {
    cursor: pointer;
    display: inline-block;
    height: 18px !important;
    margin: 3px !important;
    width: auto !important;
}
/*end*/


/*------------------------
  5. User online/offline
--------------------------*/
.usp-new-users p,
.usp-online-users p {
    margin: 6px 0;
    padding: 0;
}
.online.uspi {
    animation: usp-pulse 2s linear infinite;
    color: var(--uspGeen-500);
}
.offline.uspi {
    color: var(--uspRed-500);
    text-shadow: 0 0 1px var(--uspRed-900);
}
@keyframes usp-pulse {
    25% {transform: scale(.95);}
    50% {text-shadow: 0 0 3px #35e668;transform: scale(.75);}
    75% {transform: scale(.85);}
}
/*end*/





/*------------------
  6. Ballun
--------------------*/
.usp-descr-wrap {
    max-width: 400px;
}
.usp-descr-top {
    margin-top: 18px;
}
.usp-descr-left {
    margin-left: 18px;
}
.usp-descr {
    background: var(--uspWhite);
    border: 1px solid var(--uspHex);
    line-height: 1.4;
    min-width: 48px;
    padding: 6px 12px;
    -webkit-hyphens: auto;
            hyphens: auto;
    word-wrap: break-word;
}
.usp-descr::before {
    border-color: transparent;
    border-style: solid;
    border-width: 12px 0 0 12px;
    content: "";
    height: 0;
    position: absolute;
    width: 0;
}
.usp-descr-top .usp-descr::before {
    border-left-color: var(--uspHex);
    left: 12px;
    top: -12px;
}
.usp-descr-left .usp-descr::before {
    border-top-color: var(--uspHex);
    left: -12px;
    top: 12px;
}


/*new balloon*/
.usp-balloon {
	position: absolute;
	background: var(--uspWhite);
	right: 0;
	top: calc(100% + 1.5em);
	z-index: 9;
	padding: 3px 10px;
	border: 1px solid var(--uspBlack);
	display:flex;
	opacity: 0;
	transform: translate3d(0px, 0px, 0px);
	transition: all .2s ease-in-out;
	visibility: hidden;
	border-radius: 3px;
	text-align: left;
}
.usp-balloon::before,
.usp-balloon::after{
	border-width: 0 10px 10px 10px;
	border-style: solid;
	content: "";
	height: 0;
	right: 5px;
	position: absolute;
	width: 0;
}

.usp-balloon::before{
	border-color: transparent transparent var(--uspBlack) transparent;
	top: -11px;
}

.usp-balloon::after{
	border-color: transparent transparent var(--uspWhite) transparent;
	top: -10px;
}
.usp-balloon-hover{
	position:relative;
}
.usp-balloon-hover:hover .usp-balloon{
	cursor: default;
	opacity: 1;
	transform: translateY(-18px);
	visibility: visible;
}
.usp-balloon.position-top{
	top:auto;
	bottom: calc(100% - 1em);
}
.usp-balloon.position-top::before,
.usp-balloon.position-top::after{
	border-width: 10px 10px 0 10px;
}
.usp-balloon.position-top::before{
	border-color: var(--uspBlack) transparent transparent transparent;
	bottom: -11px;
	top:auto;
}
.usp-balloon.position-top::after{
	border-color: var(--uspWhite) transparent transparent transparent;
	bottom: -10px;
	top:auto;
}
/*end*/



/*-----------------------
  11. USP pagenavi API
-------------------------*/
.usp-pager {
    padding: 6px 3px;
    margin: 12px 0;
    line-height: 1;
    border: 1px solid var(--uspGray-200);
}
.usp-pager > span {
    margin: 0 3px;
}
/*end*/



/*----------------------------------
  12. Detailed information
------------------------------------*/
.usp-detailed-ava {
    border-radius: 0;
    display: block;
    float: none;
    padding: 0;
}
.usp-user-avatar .usp-avatar-zoom {
    background: var(--uspBlack-05);
    color: var(--uspWhite);
    font-size: 150px;
    height: 100%;
    opacity: .7;
    position: absolute;
    text-decoration: none;
    top: 0;
    width: 100%;
}
.usp-user-avatar:hover .usp-avatar-zoom {
    display: flex;
}
/*end*/





/*--------------------
  13. Post bar
----------------------*/
#usp-post-bar {
    margin: 10px 0;
    text-align: right;
}
#usp-post-bar .post-bar-item {
    display: inline-block;
}
#usp-post-bar .post-bar-item a {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 0 5px;
}
#usp-post-bar .post-bar-item span,
#usp-post-bar .post-bar-item i {
    vertical-align: middle;
}
#usp-post-bar .post-bar-item i {
    margin: 0;
}
#usp-post-bar .post-bar-item i::before {
    padding: 0 5px;
}
#usp-post-bar .post-bar-item .item-label {
    padding: 0 5px;
    margin: 0;
}
/*end*/



/*---------------------------
  14. New USP Notice
-----------------------------*/
.usp-notice {
    box-sizing: border-box;
    clear: both;
    font-size: 16px;
    margin: 12px 0 !important;
    overflow: hidden;
    padding: 12px 36px !important;
}
.usp-notice__border {
    border-width: 1px;
    border-style: solid;
}
/* AAA accebillity color > 7 contrast*/
.usp-notice__type-info {
    background: #fff7da;
    color: #56562a;
}
/* border is background down to 20 point in firefox */
.usp-notice__type-info.usp-notice__border {
    border-color: #ebe3c6;
}
.usp-notice__type-success {
    background: #e6f4cd;
    color: #2e582e;
}
.usp-notice__type-success.usp-notice__border {
    border-color: #d2e0b9;
}
.usp-notice__type-warning {
    background: #ffe0b1;
    color: #594628;
}
.usp-notice__type-warning.usp-notice__border {
    border-color: #ebcc9d;
}
.usp-notice__type-error {
    background: #f9dcdc;
    color: #71363e;
}
.usp-notice__type-error.usp-notice__border {
    border-color: #e5c8c8;
}
.usp-notice__type-simple {
    background: #eee;
    color: #4e4e4e;
}
.usp-notice__type-simple.usp-notice__border {
    border-color: #dadada;
}
.usp-notice > .uspi {
    color: var(--uspBlack-01);
    font-size: 52px;
    left: -9px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.usp-notice .usp-notice__text {
    text-align: center;
}
.usp-notice__text > p {
    margin: 0;
    padding: 0;
}
.usp-notice__title {
    color: currentColor;
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 0 6px 6px;
}
.usp-notice__close {
    cursor: pointer;
    font-size: 15px;
    line-height: 15px;
    position: absolute;
    right: 2px;
    top: 0;
}
.usp-notice__close:hover {
    opacity: .7;
}
.usp-notice__close::before {
    color: currentColor;
    content: "\f00d";
    font-family: usp-awesome;
}

/**/

/*---------------------------
  15. USP Buttons API
-----------------------------*/
/*
usp-bttn__type-clear	- gray fill
usp-bttn__type-simple	 - as link
usp-bttn__type-primary	- usp color
*/

/* general */
body .usp-bttn {
    align-items: center;
    border-radius: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1em;
    outline: 0;
    padding: 0;
    position: relative;
    text-decoration: none !important;
    text-transform: none;
    transition: all .15s ease-in-out !important;
    white-space: nowrap;
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.usp-bttn:not(.usp-bttn__type-simple) {
    box-shadow: none !important;
}
body :not(.usp-wrap__wiget) > .usp-bttn:not(.usp-bttn__active):hover {
    opacity: .8;
}
body:not(.wp-admin) .usp-bttn.usp-bttn__type-primary:not(.usp-bttn__active) {
    background: var(--uspHex);
    color: var(--uspText);
}
/* */

/* cross 2-types: usp-bttn__type-simple and usp-bttn__type-primary */
.usp-bttn:not(.usp-bttn__type-clear) .usp-bttn__text,
.usp-bttn:not(.usp-bttn__type-clear) .usp-bttn__ico-left {
	padding: .5em .7em;
}
.usp-bttn:not(.usp-bttn__type-clear):not(.usp-bttn__ico-mask) .usp-bttn__text + .usp-bttn__ico,
.usp-bttn:not(.usp-bttn__type-clear):not(.usp-bttn__ico-mask) .usp-bttn__ico + .usp-bttn__text,
.usp-bttn:not(.usp-bttn__type-clear):not(.usp-bttn__ico-mask) .usp-bttn__ico + .usp-bttn__count {
	padding: 0 .7em 0 0;
}
.usp-bttn:not(.usp-bttn__type-clear) .usp-bttn__text + .usp-bttn__count {
	align-self: flex-start;
	font-size: .85em;
	margin: .5em .5em 0 -.3em;
}
.usp-bttn .usp-bttn__ava img {
	border-radius: 0;
	border: 0;
	box-shadow: none;
	display: block;
	float: none;
	height: auto;
	margin: 0;
	max-width: 100%;
	padding: 0;
}
.usp-bttn:not(.usp-bttn__type-clear) .usp-bttn__ava + .usp-bttn__count {
	padding: 0 .7em;
}
/* */


/* clear */
.usp-bttn__type-clear .usp-bttn__text + .usp-bttn__count,
.usp-bttn__type-clear i + span,
.usp-bttn__type-clear span + i {
	padding: 0 0 0 .75em;
}
/* */

/* simple */
.usp-bttn.usp-bttn__type-simple {
    background: var(--uspGray-100);
    box-shadow: 0 0 0 1px var(--uspGray-300) inset;
}
.usp-bttn.usp-bttn__type-simple:hover {
    background: var(--uspGray-200);
}
/* */


/********************
	Modificators
*********************/

/* fullwidth */
.usp-bttn.usp-bttn__fullwidth {
    display: flex;
    justify-content: center;
}
/* */

/* masked icon */
.usp-bttn.usp-bttn__ico-mask .uspi,
.usp-bttn__ico-mask.usp-bttn__mod-text-rico-count .usp-bttn__count {
    background: var(--uspBlack-01);
}
.usp-bttn__ico-mask.usp-bttn__mod-text-rico .usp-bttn__ico-right,
.usp-bttn__ico-mask.usp-bttn__mod-text-rico-count .usp-bttn__count {
    padding: .5em .7em;
}
.usp-bttn__ico-mask.usp-bttn__mod-text-rico-count .usp-bttn__ico.usp-bttn__ico-right {
    padding: .5em 0 .5em .7em;
}
/* */


/* special wiget list style */
.usp-wrap__wiget .usp-bttn__type-clear {
	padding: .45em .6em;
}
.usp-wrap__wiget .usp-bttn__type-clear:hover {
	background: #e7edf0;
	box-shadow: none;
}
.usp-wrap__wiget .usp-bttn__ava {
	flex-shrink: 0;
}
.usp-wrap__wiget .usp-bttn__text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}
.usp-wrap__wiget .usp-bttn__text {
	margin-left: .3em;
}
.usp-wrap__wiget .usp-bttn__ava_circle .usp-bttn__ava img {
	border-radius: 50%;
}
/* */


/********************
	conditions
*********************/

/* loader */
.usp-bttn.usp-bttn__loading {
	color: transparent !important;
	cursor: default;
	opacity: 1;
	pointer-events: none;
}
.usp-bttn__loading .usp-bttn__ava img {
	opacity: 0;
}
.usp-bttn.usp-bttn__loading::before,
.usp-bttn.usp-bttn__loading::after {
	border-radius: 50%;
	border-style: solid;
	border-width: .2em;
	box-sizing: border-box;
	content: "";
	height: 1.4em;
	left: 50%;
	margin: -.7em;
	position: absolute;
	top: 50%;
	width: 1.4em;
}
.usp-bttn.usp-bttn__loading::before {
    border-color: var(--uspBlack-02);
}
.usp-bttn.usp-bttn__loading::after {
	animation: usp-bttn-loader .8s linear;
	animation-iteration-count: infinite;
	border-color: var(--uspWhite) transparent transparent;
	transform: rotate(0deg);
}
@-webkit-keyframes usp-bttn-loader {
	to {-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}
@keyframes usp-bttn-loader {
	to {-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}
/* */

/* condition */
.usp-bttn.usp-bttn__disabled {
	opacity: .6;
	pointer-events: none;
}
.usp-bttn.usp-bttn__type-simple.usp-bttn__disabled {
	background: transparent;
	box-shadow: none;
}
.usp-bttn.usp-bttn__active {
	pointer-events: none;
}
.usp-bttn.usp-bttn__type-primary.usp-bttn__active {
	color: #333;
        background: rgba(var(--uspRgb), .4);
}
.usp-bttn.usp-bttn__type-simple.usp-bttn__active {
    box-shadow: 0 -5px 0 -3px var(--uspHex) inset;
}
/* END */


/*---------------------------
  16. User Widget
-----------------------------*/
.usp-user-widget__left {
    margin-right: 6px;
    width: 100px;
}
.usp-user-widget__right .usp-bttn {
    margin: 0 0 6px;
}
/* End */
