.usp-loginform label.block-label {
    background-color: transparent;
    border: none;
    font-size: inherit;
    margin: 4px 10px 4px 0;
    padding: 0;
    width: 100%;
}
/*end*/


.form-block-usp.default-field .uspi {
    color: #538a9a;
    font-size: 16px;
    left: 12px;
    opacity: 0.4;
    position: absolute;
    top: 10px;
}

.form-tab-usp .form-block-usp a.link-remember-usp {
    color: #aaa;
    float: right;
    font-size: 12px;
    margin: 3px 0;
    padding: 8px 0;
}
.form-block-usp.form_extend .form-block-usp {
    margin: 0 0 15px;
}
.form_rmmbr a {
    background: #e6e7e8;
    float: left;
    text-align: center;
    width: 50%;
}
.form_auth,
.form_head.form_rmmbr a:first-child {
    border-right: 1px solid #ccc;
    box-sizing: border-box;
}
.form-tab-usp .form-title {
    display: block;
    font-size: 20px;
    text-align: center;
}
.form-block-usp .login-error,
.form-block-usp .login-message,
.form-block-usp [class^="strength"] {
    display: block;
    font-size: 12px;
    margin: 8px auto 5px;
    padding: 8px;
    text-align: center;
}
.form-block-usp .strength0 {background:#ccc;width:140px;}
.form-block-usp .strength1 {background:#fea6a6;width:140px;}
.form-block-usp .strength2 {background:orange;width:55%;}
.form-block-usp .strength3 {background:#efed6d;width:60%;}
.form-block-usp .strength4 {background:#8de991;width:80%;}
.form-block-usp .strength5 {background:#99e3ff;width:100%;}


/*end*/


/* регистрация в wp-login.php */
#registerform .usp-field-core {
    position: relative;
}
#registerform .maxlength {
    align-items: center;
    background-color: #eaeaea;
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: default;
    display: flex;
    font-weight: bold;
    justify-content: center;
    max-height: 100%;
    min-width: 30px;
    padding: 2px 5px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 10;
}
#registerform .type-text-input .maxlength {
    height: 100%;
}
#registerform .usp-field-notice {
    clear: both;
    font-size: .85em;
}
#registerform .form-block-usp .required {
    color: rgb(229, 57, 53);
    font: bold 15px/normal Verdana,arial;
    left: -15px;
    position: absolute;
    top: 10px;
}
#registerform .form-block-usp label .required {
    position: inherit;
}
#registerform .form-block-usp {
    margin-bottom: 15px;
    position: relative;
}
#registerform .form-block-usp label {
    display: block;
    margin-bottom: 5px;
}
#registerform .usp-checkbox-box,
#registerform .usp-radio-box {
    display: block;
    padding: 3px 0 0 20px;
}
#registerform .usp-checkbox-box label,
#registerform .usp-radio-box label {
    display: inline-block;
}
#registerform textarea,
#registerform select,
#registerform input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]) {
    font-size: 18px;
    padding: 5px 10px;
    width: 100%;
    margin: 0 auto;
}
#registerform #user_email {
    margin-bottom: 16px;
}
/*end*/