/* slider start */
.usp-slider {
    margin: 15px 0;
}
/* jssor slider loading skin spin css */
.jssorl-009-spin img {
    animation: fa-spin 1.6s linear infinite;
}


/* jssor slider thumbnail navigator skin 07 css
region Thumbnail Navigator Skin Begin
Help: https://www.jssor.com/development/slider-with-thumbnail-navigator.html
*/
.usp-gallery-navigator {
    /* size of thumbnail navigator container */
    background:rgb(232, 232, 232);
    position: absolute;
}
.usp-gallery-navigator .p {
    left: 0;
    position: absolute;
    top: 0;
}
.usp-gallery-navigator .i {
    filter: alpha(opacity=80);
    left: 0;
    opacity: .8;
    position: absolute;
    top: 0;
	object-fit: cover;
}
.usp-gallery-navigator .p:hover .i, .usp-gallery-navigator .pav .i {
    filter: alpha(opacity=100);
    opacity: 1;
}
.usp-gallery-navigator .o {
    border: 1px solid var(--uspBlack);
    box-sizing: content-box;
    left: 0;
    position: absolute;
    top: 0;
    transition: border-color .6s;
}
.usp-gallery-navigator .pav .o {
    border-color: #0099ff;
}
.usp-gallery-navigator .p:hover .o {
    border-color: var(--uspWhite);
    transition: none;
}
.usp-gallery-navigator .p.pdn .o {
    border-color: #0099ff;
}
/*
#region Arrow Navigator Skin Begin
Help: https://www.jssor.com/development/slider-with-arrow-navigator.html
*/
.usp-navigator-arrow {
    cursor: pointer;
    display: block;
    position: absolute;
}
.usp-navigator-arrow .a {
    fill: none;
    stroke: var(--uspWhite);
    stroke-width: 360;
    stroke-miterlimit: 10;
}
.usp-navigator-arrow:hover {
    opacity:.8;
}