/* general */
.usp-users > div {
    margin-bottom: 18px;
}
.usp-users__title {
    font-size: 20px;
}
.usp-users__filter > * {
    margin: 0 6px 0 0;
}
.usp-user {
    animation: fadeIn 1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0 1px 3px var(--uspBlack-01), 0 0px 3px var(--uspBlack-02);
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.4;
    transition: box-shadow .2s linear;
}
.usp-user__ava .usps__img-reset,
.usp-users__list .usp-user a {
    box-shadow: none !important;
    color: inherit;
}
.usp-users__list .usp-user a:hover {
    text-decoration: underline;
}
.usp-users__mini .usp-user__ava {
    width: 50px;
}
.usp-user__ava .status_user {
    position: absolute;
    right: 3px;
    top: 3px;
}
.usp-users__avatars .usp-user,
.usp-users__mini .usp-user {
    margin: 6px 3px;
}
.usp-users__avatars .usp-user__ava {
    width: 70px;
}
.usp-users__mini .usp-user:hover,
.usp-users__avatars .usp-user:hover {
    box-shadow: 2px 3px 8px -4px var(--uspBlack);
}
.usp-users__rows .usp-user:hover,
.usp-users__cards .usp-user:hover {
    box-shadow: 0 4px 16px var(--uspBlack-02), 0 6px 13px var(--uspBlack-02);
}

/* Cards */
.usp-users__cards .usp-user {
    margin: 2%;
    max-width: 340px;
    min-width: 160px;
}
.usp-user__picture {
    width: 100%;
    max-height: 250px;
    overflow: hidden;
}
.usp-users__cards .usp-user__ava {
    width: 100%;
    height: 100%;
}
.usp-users__cards .usp-user__ava img {
    object-fit: cover;
    height: 100%;
}
.usp-users__cards .status_user.offline {
    padding: 6px 12px;
    line-height: normal;
    color: var(--uspGray-700);
    background: var(--uspWhite-05);
}
.usp-users__cards .rating-usp {
    left: 3px;
    min-width: 30px;
    opacity: .8;
    position: absolute;
    top: 3px;
    z-index: 2;
}
.usp-user__name {
    background: var(--uspBlack-04);
    bottom: 0;
    box-sizing: border-box;
    color: var(--uspWhite);
    padding: 6px;
    position: absolute;
    width: 100%;
}
.usp-user__half:nth-child(2) {
    border-left: 1px solid var(--uspGray-200);
}
.usp-user__half {
    font-weight: 300;
    padding: 6px 0;
    color: var(--uspGray-500);
}
.usp-user__half div {
    line-height: 30px;
}
.usp-user__half div:first-child {
    font-size: 30px;
}
/* */


/* rows */
.usp-users__rows .usp-user {
    margin: 0 0 24px;
    padding: 12px;
}
.usp-user__left {
    width: 70px;
}
.usp-user__right > * {
    margin-bottom: 12px;
}
.usp-user__stats,
.usp-user__general {
    margin-left: 18px;
    line-height: 1;
}
.usp-user__link {
    font-size: 20px;
    text-transform: capitalize;
}
.usp-users__rows .status_user {
    font-size: 14px;
    color: var(--uspGray-500);
}
.usp-metadata {
    font-size: 14px;
    margin: 6px 6px 0 0;
    padding: 6px 12px;
    background: var(--uspGray-100);
    box-shadow: 0 0 1px 1px var(--uspGray-200);
    color: var(--uspGray-500);
}
.usp-metadata .uspi {
    margin: 0 6px 0 0;
}
.usp-user__fields-before:empty,
.usp-user__fields-after:empty,
.usp-user__icons:empty {
    display: none;
}
.usp-user__fields .usp-field {
    display: inline-flex;
    color: var(--uspGray-600);
}
.usp-user__fields .usp-field .usp-field-title {
    margin: 0;
}
.usp-user__fields .usp-field-value {
    margin: 0 0 0 6px;
}
.usp-user__fields .usp-field + .usp-field {
    margin-top: 6px;
}
.usp-user__fields .usp-field + .usp-field:last-child {
    margin-bottom: 0;
}
