/* mark orphan icons */
i::before {
	content: "😡 🤬";
}

/* collect color palette */
:root{
    --uspBlack: #000;
    --uspBlack-01: rgba(0, 0, 0, .1);
    --uspBlack-015: rgba(0, 0, 0, .15);
    --uspBlack-02: rgba(0, 0, 0, .2);
    --uspBlack-03: rgba(0, 0, 0, .3);
    --uspBlack-04: rgba(0, 0, 0, .4);
    --uspBlack-05: rgba(0, 0, 0, .5);
    --uspBlack-06: rgba(0, 0, 0, .6);
    --uspBlack-07: rgba(0, 0, 0, .7);
    
    --uspWhite: #fff;
    --uspWhite-05: rgba(255, 255, 255, .5);
    
    --uspGray-50: #fdfdfd;
    --uspGray-75: #fafafa;
    --uspGray-100: #f4f4f5;
    --uspGray-150: #ededee;
    --uspGray-200: #e5e5e5;
    --uspGray-300: #d1d5db;
    --uspGray-400: #9ca3af;
    --uspGray-500: #69707e;
    --uspGray-600: #4b5563;
    --uspGray-700: #374151;
    
    --uspYellow-100: #fef3c7;
    --uspYellow-700: #b45309;
    --uspYellow-900: #713f12;
    
    --uspGreen-100: #dcfce7;
    --uspGreen-500: #10B981;
    --uspGreen-700: #15803d;
    --uspGreen-800: #166534;
    --uspGreen-900: #14532d;
    
    --uspBlue-50: #eff6ff;
    --uspBlue-300: #93c5fd;
    --uspBlue-400: #60a5fa;
    --uspBlue-500: #0ea5e9;
    --uspBlue-700: #0369a1;
    
    --uspRed-100: #fee2e2;
    --uspRed-200: #fecaca;
    --uspRed-300: #fca5a5;
    --uspRed-400: #f87171;
    --uspRed-500: #ef4444;
    --uspRed-800: #991b1b;
    --uspRed-900: #7f1d1d;
    
    --uspLine200: 1px solid var(--uspGray-200);
    --uspLine300: 1px solid var(--uspGray-300);
    
    --uspBox100: 3px 6px 12px 0 var(--uspBlack-01);
    --uspBox200: 6px 6px 12px -6px var(--uspGray-400);
    --uspBox300: 3px 3px 6px 0 var(--uspBlack-02);
    --uspBox400: 3px 6px 12px 3px var(--uspBlack-02);
    
    --uspLoadFast: .12s ease-in-out;
    --uspLoad: .24s ease-in-out;
    
    --uspWeight2: 200;
    --uspWeight5: 500;
}


/* usps (style) flex layout */
.usps {
    display: flex;
}
.usps:not(.usps__nowrap) {
    flex-wrap: wrap;
}
.usps__inline {
    display: inline-flex;
}
.usps__column {
    flex-direction: column;
}
.usps__nowrap {
    flex-wrap: nowrap;
}
.usps__grow {
    flex-grow: 1;
}
.usps__grow-0 {
    flex-grow: 0;
}
.usps__shrink {
    flex-shrink: 1;
}
.usps__shrink-0 {
    flex-shrink: 0;
}

.usps__jc-start {
    justify-content: flex-start;
}
.usps__jc-end {
    justify-content: flex-end;
}
.usps__jc-center {
    justify-content: center;
}
.usps__jc-between {
    justify-content: space-between;
}
.usps__jc-around {
    justify-content: space-around;
}
.usps__jc-evenly {
    justify-content: space-evenly;
}

.usps__ai-start {
    align-items: flex-start;
}
.usps__ai-end {
    align-items: flex-end;
}
.usps__ai-center {
    align-items: center;
}
.usps__ai-baseline {
    align-items: baseline;
}
.usps__ai-stretch {
    align-items: stretch;
}

.usps__as-auto {
    align-self: auto;
}
.usps__as-start {
    align-self: flex-start;
}
.usps__as-end {
    align-self: flex-end;
}
.usps__as-center {
    align-self: center;
}
.usps__as-stretch {
    align-self: stretch;
}

/* usps (style) helpers */
.usps__relative {
    position: relative;
}
.usps__hidden {
    display: none;
}
.usps__invisible {
    visibility: hidden;
}
.usps__fit-cover {
    object-fit: cover;
}
.usps__img-reset {
    border: 0;
    height: auto;
    margin: 0;
    max-width: 100%;
    width: 100%;
    float: none !important;
}

.usps__text-left {
    text-align: left;
}
.usps__text-center {
    text-align: center;
}
.usps__text-right {
    text-align: right;
}
.usps__text-cut {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.usps__no-select {
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.usps__radius-3 {
    border-radius: 3px;
}
.usps__radius-6 {
    border-radius: 6px;
}
.usps__radius-50 {
    border-radius: 50%;
}

.usps__shadow-0 {
    box-shadow: none;
}
.usps__line-1 {
    line-height: 1;
}
.usps__line-normal {
    line-height: normal;
}
/* END */

/*----------------------
>>> Table of contents
------------------------
  1. General
  2. USP preloader
  3. USP smiles
  4. User online/offline
  5. Ballun
  6. USP pagenavi API
  7. Post top/bottom buttons
  8. New USP Notice
  9. User Widget
  10. USP Card
  11. USP meta
------------------------*/


/*-----------------------------
  1. General
-------------------------------*/
[class^="uspi fa-"]::before,
[class*=" uspi fa-"]::before {
    padding: 0;
}
:root span.required {
    font: bold 15px/1 Verdana,arial;
    padding: 0;
    color: var(--uspRed-500);
}
#usp-overlay {
    background: var(--uspBlack-07);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}
:not(.usp-bttn__type-primary) > i.uspi.fa-trash {
    color: var(--uspRed-500);
}
/*end*/


/*------------------------
  2. USP preloader
--------------------------*/
body .preloader-parent {
    position: relative;
}
.usp_preloader {
    background: var(--uspWhite-05) !important;
    display: block !important;
    height: 100% !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 103;
}
.usp_preloader i {
    color: var(--uspHex);
    left: 50%;
    position: absolute;
    top: 50%;
}
/*end*/


/*------------------
  3. USP smiles
--------------------*/
.usp-smiles {
    clear: both;
    float: right;
    position: relative;
}
.usp-smiles > i {
    color: var(--uspBlue-700);
    cursor: pointer;
    font-size: 20px;
}
.usp-smiles .smiles {
    background: var(--uspWhite);
    border-radius: 5px;
    box-shadow: var(--uspBox400);
    box-sizing: border-box;
    padding: 3px;
    text-align: left;
    width: 350px;
}
.usp-smiles .usp-smiles-list {
    bottom: 0;
    display: none;
    padding: 0 15px 20px 0;
    position: absolute;
    right: 0;
    z-index: 9;
}
.usp-smiles > img:hover +.usp-smiles-list,
.usp-smiles .usp-smiles-list:hover {
    display: block;
}
.usp-smiles .smiles img {
    cursor: pointer;
    display: inline-block;
    height: 18px !important;
    margin: 3px !important;
    width: auto !important;
}
/*end*/


/*------------------------
  4. User online/offline
--------------------------*/
.usp-new-users p,
.usp-online-users p {
    margin: 6px 0;
    padding: 0;
}
.online.uspi {
    animation: usp-pulse 2s linear infinite;
    color: var(--uspGreen-500);
}
.offline.uspi {
    color: var(--uspRed-500);
    text-shadow: 0 0 1px var(--uspRed-900);
}
/*end*/





/*------------------
  5. Ballun
--------------------*/
.usp-descr-wrap {
    max-width: 400px;
}
.usp-descr-top {
    margin-top: 18px;
}
.usp-descr-left {
    margin-left: 18px;
}
.usp-descr {
    background: var(--uspWhite);
    border: 1px solid var(--uspHex);
    line-height: 1.4;
    min-width: 48px;
    padding: 6px 12px;
    -webkit-hyphens: auto;
            hyphens: auto;
    word-wrap: break-word;
}
.usp-descr::before {
    border-color: transparent;
    border-style: solid;
    border-width: 12px 0 0 12px;
    content: "";
    height: 0;
    position: absolute;
    width: 0;
}
.usp-descr-top .usp-descr::before {
    border-left-color: var(--uspHex);
    left: 12px;
    top: -12px;
}
.usp-descr-left .usp-descr::before {
    border-top-color: var(--uspHex);
    left: -12px;
    top: 12px;
}



/*-----------------------
  6. USP pagenavi API
-------------------------*/
.usp-pager {
    margin: 12px 0;
}
.usp-pager > span {
    margin: 0 3px;
}
/*end*/



/*--------------------
  7. Post top/bottom buttons
----------------------*/
.usp-post-bttns:empty {
    display: none;
}
.usp-post-bttns {
    margin: 18px 0;
}
/**/



/*---------------------------
  8. New USP Notice
-----------------------------*/
#usp-wrap-notices {
    left: 12px;
    position: fixed;
    top: 66px;
    z-index: 1501;
    min-width: 200px;
    max-width: 260px;
}
.usp-notice {
    animation-duration: .3s;
    box-sizing: border-box;
    clear: both;
    font-size: 16px;
    margin: 12px 0 !important;
    overflow: hidden;
    padding: 12px 36px 12px 18px !important;
}
.usp-notice:not(.usp-notice__no-border) {
    border: 1px solid var(--uspBlack-015);
}
.usp-notice__type-info {
    background: var(--uspYellow-100);
    color: var(--uspYellow-900);
}
.usp-notice__type-success {
    background: var(--uspGreen-100);
    color: var(--uspGreen-900);
}
.usp-notice__type-warning {
    background: #ffe0b1;
    color: #594628;
}
.usp-notice__type-error {
    background: var(--uspRed-100);
    color: var(--uspRed-900);
}
.usp-notice__type-simple {
    background: var(--uspGray-100);
    color: var(--uspGray-700);
}
.usp-notice .usp-notice__ico {
    color: var(--uspBlack-015);
    font-size: 52px;
    left: -9px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.usp-notice .usp-notice__ico ~ div {
    padding: 0 0 0 36px;
}
.usp-notice__text-center > div {
    text-align: center;
}
.usp-notice__text > p {
    margin: 0;
    padding: 0;
}
.usp-notice__title {
    color: currentColor;
    font-size: 1.1em;
    font-weight: 700;
    margin: 0 0 6px 6px;
}
.usp-notice__close {
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: 6px;
}
.usp-notice__close:hover {
    opacity: .7;
}
.usp-notice__timeout {
    height: 3px;
    animation: usp-time-out calc(var(--usp-notice-timeout) * 1ms) linear forwards;
    transform-origin: left center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--uspBlack-02);
}
/**/

/*---------------------------
  9. User Widget
-----------------------------*/
.usp-user-widget__left {
    margin-right: 6px;
    width: 100px;
}
.usp-user-widget__left img {
    max-height: 100px;
}
.usp-user-widget__right .usp-bttn {
    margin: 0 0 6px;
}
/* End */

/*---------------------------
  10. USP Card (see user-masonry.php)
-----------------------------*/
.usp-card {
    animation: fadeIn .5s linear .5s backwards;
    background: var(--uspWhite);
    border: var(--uspLine200);
    box-sizing: border-box;
    color: var(--uspGray-700);
    font-size: 16px;
    line-height: 1.4;
    margin: 0 0 18px;
    transition: var(--uspLoad);
}
.usp-card:hover {
    border-color: var(--uspBlue-400);
    box-shadow: var(--uspBox100);
}
.usp-card:nth-child(2),.usp-card:nth-child(6){animation-delay:.8s;}
.usp-card:nth-child(3),.usp-card:nth-child(5){animation-delay:1s;}
.usp-card:nth-child(4){animation-delay:1.2s;}
.usp-card__head {
    overflow: hidden;
    width: 100%;
}
.usp-card a:hover {
    text-decoration: underline;
}
.usp-card img:hover {
    filter: contrast(110%) saturate(85%);
}
.usp-card__head img {
    height: 100%;
}
.usp-card__main > div:not(.usp-card__bttns) {
    padding: 0 12px;
}
.usp-card__main > div {
    text-align: center;
}
.usp-card__title {
    display: block;
    font-size: 24px;
    line-height: 30px;
    margin: 6px 0 12px;
    overflow: hidden;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.usp-card__center > div:not(:last-child) {
    margin-bottom: 6px;
}
.usp-card__content {
    margin-top: 18px;
}
.usp-card__bttns:empty,
.usp-card__content:empty {
    display: none;
}
.usp-card__content > :not(:last-child) {
    margin-bottom: 6px;
}
.usp-card__bttns {
    margin: 6px 0 0;
}
.usp-card__bttns > div {
    margin: 0 3px 3px;
}

/*------------------------
  11. USP meta
--------------------------*/
.usp-meta {
    font-size: 14px;
    margin: 6px 6px 0 0;
    padding: 6px 12px;
    background: var(--uspGray-100);
    color: var(--uspGray-600);
    border: var(--uspLine200);
}
.usp-meta .uspi {
    margin: 0 6px 0 0;
}
