/* general */
.usp-users > div {
    margin-bottom: 18px;
}
.usp-users__title {
    font-size: 20px;
}
.usp-users__filter > * {
    margin: 0 6px 0 0;
}
.usp-user__ava .usps__img-reset,
.usp-users__list .usp-user a {
    box-shadow: none !important;
    color: inherit;
}
.usp-users__mini .usp-user__ava {
    width: 50px;
}
.usp-user__ava .status_user {
    position: absolute;
    right: 3px;
    top: 3px;
}
.usp-users__avatars .usp-user, 
.usp-users__mini .usp-user {
    margin: 6px 3px;
    transition: var(--uspLoad);
}
.usp-users__avatars .usp-user__ava {
    width: 77px;
}
.usp-users__mini .usp-user:hover,
.usp-users__avatars .usp-user:hover {
    box-shadow: var(--uspBox300);
}
