/*---------------------------
  USP Buttons API
-----------------------------*/
/*
usp-bttn__type-clear	- gray fill
usp-bttn__type-simple	 - as link
usp-bttn__type-primary	- usp color
*/

/* general */
body .usp-bttn {
    align-items: center;
    border-radius: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1em;
    outline: 0;
    padding: 0;
    position: relative;
    text-decoration: none !important;
    text-transform: none;
    transition: var(--uspLoadFast) !important;
    white-space: nowrap;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.usp-bttn:not(.usp-bttn__type-simple) {
    box-shadow: none !important;
}

body :not(.usp-wrap__widget) > .usp-bttn:not(.usp-bttn__active):hover {
    opacity: .8;
}

body:not(.wp-admin) .usp-bttn.usp-bttn__type-primary:not(.usp-bttn__active) {
    background: var(--uspHex);
}

body:not(.wp-admin) .usp-bttn.usp-bttn__type-primary:not(.usp-bttn__active) > * {
    color: var(--uspText);
}

/* */

/* cross 2-types: usp-bttn__type-simple and usp-bttn__type-primary */
.usp-bttn:not(.usp-bttn__type-clear) .usp-bttn__text,
.usp-bttn:not(.usp-bttn__type-clear) .usp-bttn__ico-left {
    padding: .5em .7em;
}

.usp-bttn:not(.usp-bttn__type-clear):not(.usp-bttn__ico-mask) .usp-bttn__text + .usp-bttn__ico,
.usp-bttn:not(.usp-bttn__type-clear):not(.usp-bttn__ico-mask) .usp-bttn__ico + .usp-bttn__text,
.usp-bttn:not(.usp-bttn__type-clear):not(.usp-bttn__ico-mask) .usp-bttn__ico + .usp-bttn__count {
    padding: 0 .7em 0 0;
}

.usp-bttn:not(.usp-bttn__type-clear) .usp-bttn__text + .usp-bttn__count {
    align-self: flex-start;
    margin: .25em .5em 0 -.3em;
}

.usp-bttn .usp-bttn__ava img {
    border-radius: 0;
    border: 0;
    box-shadow: none;
    display: block;
    float: none;
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0;
}

.usp-bttn:not(.usp-bttn__type-clear) .usp-bttn__ava + .usp-bttn__count {
    padding: 0 .7em;
}

/* */


/* clear */
.usp-bttn__type-clear .usp-bttn__text + .usp-bttn__count,
.usp-bttn__type-clear i + span,
.usp-bttn__type-clear span + i {
    padding: 0 0 0 .75em;
}

/* */

/* simple */
.usp-bttn.usp-bttn__type-simple:not(.usp-bttn__active) {
    background: var(--uspGray-50);
    border: var(--uspLine300);
}

.usp-bttn.usp-bttn__type-simple > * {
    color: var(--uspGray-700);
}

.usp-bttn.usp-bttn__type-simple.usp-bttn__active,
.usp-bttn.usp-bttn__type-simple:hover {
    background: var(--uspGray-200);
}

/* */


/********************
	Modificators
*********************/

/* fullwidth */
.usp-bttn.usp-bttn__fullwidth {
    display: flex;
    justify-content: center;
}

/* */

/* masked icon */
.usp-bttn.usp-bttn__ico-mask .uspi,
.usp-bttn__ico-mask.usp-bttn__mod-text-rico-count .usp-bttn__count {
    background: var(--uspBlack-01);
}

.usp-bttn__ico-mask.usp-bttn__mod-text-rico .usp-bttn__ico-right,
.usp-bttn__ico-mask.usp-bttn__mod-text-rico-count .usp-bttn__count {
    padding: .5em .7em;
}

.usp-bttn__ico-mask.usp-bttn__mod-text-rico-count .usp-bttn__ico.usp-bttn__ico-right {
    padding: .5em 0 .5em .7em;
}

/* */


/* special widget list style */
.usp-wrap__widget .usp-bttn__type-clear {
    padding: 0 12px;
    min-height: 42px;
    width: 100%;
}

.usp-wrap__widget .usp-bttn__type-clear:not(.button-primary) > * {
    color: var(--uspGray-700);
}

.usp-wrap__widget .usp-bttn__type-simple {
    min-height: 42px;
    width: 100%;
}

.usp-wrap__widget .usp-bttn__type-clear:not(.button-primary):hover {
    background: var(--uspGray-200);
}

.usp-wrap__widget .usp-bttn__ava {
    flex-shrink: 0;
}

.usp-wrap__widget .usp-bttn__text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    line-height: normal;
    text-align: left;
}

/* */


/********************
	conditions
*********************/

/* loader */
.usp-bttn.usp-bttn__loading {
    color: transparent !important;
    cursor: default;
    opacity: 1;
    pointer-events: none;
}

.usp-bttn__loading .usp-bttn__ava img {
    opacity: 0;
}

.usp-bttn.usp-bttn__loading::before,
.usp-bttn.usp-bttn__loading::after {
    border-radius: 50%;
    border-style: solid;
    border-width: .2em;
    box-sizing: border-box;
    content: "";
    height: 1.4em;
    left: 50%;
    margin: -.7em;
    position: absolute;
    top: 50%;
    width: 1.4em;
}

.usp-bttn.usp-bttn__loading::before {
    border-color: var(--uspBlack-02);
}

.usp-bttn.usp-bttn__loading::after {
    animation: fa-spin .8s linear infinite;
    border-color: var(--uspWhite) transparent transparent;
    transform: rotate(0deg);
}

/* */

/* condition */
.usp-bttn.usp-bttn__disabled {
    opacity: .6;
    pointer-events: none;
}

.usp-bttn.usp-bttn__type-simple.usp-bttn__disabled {
    background: transparent;
    box-shadow: none;
}

.usp-bttn.usp-bttn__active {
    pointer-events: none;
}

.usp-bttn.usp-bttn__type-primary.usp-bttn__active {
    background: rgba(var(--uspRgb), .4);
    color: var(--uspBlack);
}
