/* general */
.usp-users > div {
    margin-bottom: 18px;
}
.usp-users__title {
    font-size: 20px;
}
.usp-users__filter > * {
    margin: 0 6px 0 0;
}
.usp-user {
    animation: fadeIn 1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0 1px 3px var(--uspBlack-01), 0 0px 3px var(--uspBlack-02);
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.4;
    transition: box-shadow .2s linear;
    background: var(--uspWhite);
}
.usp-user__ava:hover {
    filter: contrast(110%) saturate(85%);
}
.usp-user__ava .usps__img-reset,
.usp-users__list .usp-user a {
    box-shadow: none !important;
    color: inherit;
}
.usp-users__list .usp-user a:hover {
    text-decoration: underline;
}
.usp-users__mini .usp-user__ava {
    width: 50px;
}
.usp-user__ava .status_user {
    position: absolute;
    right: 3px;
    top: 3px;
}
.usp-users__avatars .usp-user,
.usp-users__mini .usp-user {
    margin: 6px 3px;
}
.usp-users__avatars .usp-user__ava {
    width: 70px;
}
.usp-users__mini .usp-user:hover,
.usp-users__avatars .usp-user:hover {
    box-shadow: 2px 3px 8px -4px var(--uspBlack);
}
