#login #registerform .usp-content-group {
    margin: 0;
    border: 0;
    background: transparent;
}

#login #registerform .usp-content-area {
    margin: 0;
}

#registerform .usp-content-area > * {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}

#registerform .usp-field .usp-label {
    display: flex;
}
