.usp-user-modal .ssi-modalContent {
    max-width: 540px;
}

.usp-user-modal__action {
    margin-left: 6px;
}

.usp-user-modal .usp-content-manager {
    padding: 0;
}

.usp-user-modal__ava {
    max-height: 380px;
}

.usp-user-modal__ava-img {
    border-radius: 0;
    display: block;
    padding: 0;
    height: 100% !important;
    object-fit: cover;
}

.usp-user-modal__ava img[src*="gravatar"] {
    max-height: 330px;
}

.usp-user-modal__ava-zoom {
    background: var(--uspBlack-05);
    color: var(--uspWhite) !important;
    height: 100%;
    opacity: .7;
    position: absolute;
    text-decoration: none;
    top: 0;
    width: 100%;
}

.usp-user-modal__ava:hover .usp-user-modal__ava-zoom {
    display: flex;
}

.usp-user-modal__ava-zoom i {
    font-size: 150px;
}

.usp-user-modal__content {
    padding: 0 12px;
}

.usp-user-modal__content > *:not(.usp-descr-top) {
    margin: 12px 0;
}

.usp-user-modal__content > *:empty {
    display: none;
}

@media screen and (max-width: 568px) {
    .usp-user-modal .ssi-modalContent {
        max-width: unset;
    }

    .usp-user-modal__stats {
        justify-content: center;
    }
}