.usp-info {
    font-size: 16px;
    color: var(--uspGray-600);
}
.usp-info > div:not(:first-child) {
    margin: 18px 0;
}
.usp-info__name {
    font-size: 26px;
}
.usp-info__age {
    color: var(--uspYellow-900);
    margin: 0 0 0 6px;
}
.usp-info .usp-field-title-box {
    min-width: 72px;
}
.usp-user-fields {
    margin: 12px 0 0;
}
.usp-user-fields .usp-field + .usp-field {
    margin: 6px 0 0;
}
.usp-user-fields .usp-field {
    display: inline-flex;
    color: var(--uspGray-600);
    line-height: 1;
}
.usp-user-fields .usp-field .usp-field-title {
    margin: 0;
}
.usp-user-fields .usp-field-value {
    margin: 0 0 0 6px;
}
.usp-user-fields a {
    box-shadow: none !important;
    color: inherit;
    text-decoration: underline;
}
.usp-tab-profile .usp-content-area {
	width: auto !important;
}
