#usp-bar {
    background: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    height: 36px;
    left: 0;
    line-height: 1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
#usp-bar a {
    color: #e6e6e6;
    text-decoration: none;
}
#usp-bar .uspi {
    color: #e6e6e6;
    font-size: 30px;
    line-height: 36px;
    vertical-align: middle;
    width: 30px;
}
#usp-bar .rcb_icon:hover .uspi {
    color: #d4d4d4;
}
#usp-bar .rcb_icon {
    display: inline-block;
    margin: 0 10px;
    position: relative;
}
#usp-bar .rcb_right .rcb_icons,
#usp-bar .rcb_icon a {
    display: inline-block;
}
#usp-bar .usp-register span,
#usp-bar .usp-login span {
    color: #e6e6e6;
    margin: 0 0 0 7px;
    vertical-align: middle;
}
#usp-bar .rcb_icon .rcb_hiden {
    margin: 0 0 0 -43px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 54px;
    transform: translate3d(0px, 0px, 0px);
    transition: opacity 0.2s ease-in-out 0s,
		visibility 0.2s ease-in-out 0s,
		transform 0.2s cubic-bezier(0.71, 1.3, 0.77, 1.04) 0s;
    visibility: hidden;
    width: 110px;
}
#usp-bar .rcb_icon:hover .rcb_hiden,
#usp-bar .rcb_left_menu:hover .rcb_menu,
#usp-bar .rcb_right_menu:hover .pr_sub_menu {
    cursor: default;
    opacity: 1;
    transform: translateY(-18px);
    visibility: visible;
}
#usp-bar .current-menu-item a {
    background: none;
}
#usp-bar .rcb_icon .rcb_hiden span {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 0 0 3px 3px;
    color: inherit;
    display: inline-block;
    padding: 5px 10px;
}
/* Левая часть */
#usp-bar .rcb_left {
    float: left;
    margin: 0 0 0 50px;
}
/* Меню слева START */
#usp-bar .rcb_left_menu {
    display: inline-block;
    padding: 0 10px;
}
#usp-bar .rcb_left_menu:hover {
    color: #d4d4d4;
    cursor: pointer;
}
#usp-bar .rcb_menu {
    background: rgba(0, 0, 0, 0.7);
}
#usp-bar .rcb_menu {
    border-top: 2px solid #e47641;
    display: block;
    left: 55px;
    opacity: 0;
    position: absolute;
    top: 54px;
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.2s ease-in-out 0s;
    visibility: hidden;
    width: 180px;
}
#usp-bar .rcb_menu > .menu {
    background: inherit;
}
#usp-bar ul {
    list-style: none;
    margin: 0;
    max-width: 200px;
    padding: 0;
}
#usp-bar li {
    list-style: none;
    padding: 10px;
}
#usp-bar .rcb_line:hover,
#usp-bar li:hover,
#usp-bar .current-menu-item {
    background: rgba(0, 0, 0, 0.3);
}
#usp-bar .menu-item-has-children {
    position: relative;
}
#usp-bar .menu-item-has-children > a::after {
    color: inherit;
    content: "\f054"; /* fa-chevron-right */
    font-family: usp-awesome;
    font-size: 11px;
    pointer-events: none;
    position: absolute;
    right: 5px;
    top: 13px;
}
#usp-bar .sub-menu {
    background: rgba(0, 0, 0, 0.7);
    left: 180px;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s ease-in-out 0s;
    visibility: hidden;
    width: 100%;
}
#usp-bar .menu-item-has-children:hover .sub-menu {
    opacity: 1;
}
/* Меню слева END */
/* Левая часть END */

/* Правая часть START */
#usp-bar .rcb_right {
    float: right;
    margin: 0 50px 0 0;
}
#usp-bar .rcb_nmbr {
    background: #b2440f;
    border-radius: 50%;
    color: #f6f6f6;
    display: inline-block;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    margin: 2px 0 0;
    text-align: center;
    vertical-align: top;
    width: 22px;
}

/* Меню справа START */
#usp-bar .rcb_right_menu {
    border-left: 2px solid transparent;
    box-sizing: unset;
    float: right;
    height: 36px;
    margin: 0 10px 0 30px;
    position: relative;
    width: 36px;
}
#usp-bar .rcb_right_menu:hover {
    border-left: 2px solid #e47641;
    cursor: pointer;
}
#usp-bar .rcb_right_menu .fa-ellipsis-h {
    color: #e47641;
    font-size: 22px;
    left: 10px;
    pointer-events: none;
    position: absolute;
    top: 14px;
    z-index: 2;
}
#usp-bar .rcb_right_menu:hover .fa-ellipsis-h {
    display: none;
}
#usp-bar .rcb_right_menu img {
    border-radius: 0;
    border: none;
    height: 36px;
    max-width: 36px;
    width: 36px;
}
#usp-bar .pr_sub_menu {
    background: rgba(0, 0, 0, 0.7);
    border-top: 2px solid #e47641;
    display: block;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 54px;
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.2s ease-in-out 0s;
    visibility: hidden;
    width: 200px;
}
#usp-bar .rcb_line {
    padding: 2px 5px 3px 5px;
}
#usp-bar .pr_sub_menu .rcb_line .uspi {
    color: #c8c8c8;
    font-size: 22px;
}
#usp-bar .rcb_line span {
    margin: 0 0 0 8px;
    vertical-align: text-top;
}
#usp-bar .pr_sub_menu .rcb_line > a {
    align-items: center;
    display: flex;
}
/* Меню справа END */
/* Правая часть END */
@media screen and (max-width:768px) {
    #usp-bar .rcb_right {
        margin: 0 5px 0 0;
    }
    #usp-bar .rcb_left {
        margin: 0 0 0 10px;
    }
    #usp-bar .rcb_menu {
        left: 15px;
    }
    .rcb_right_menu > a {
        pointer-events: none;
    }
}
@media screen and (max-width:600px) {
    #usp-bar .rcb_right_menu {
        margin: 0 5px 0 0;
    }
    #usp-bar .rcb_icon {
        margin: 0 4px;
    }
}
@media screen and (max-width:480px) {
    #usp-bar .rcb_right_menu {
        margin: 0;
    }
    #usp-bar .rcb_left_menu {
        padding: 0;
    }
    #usp-bar .rcb_menu {
        left: 0;
    }
    #usp-bar .rcb_left {
        margin: 0 0 0 4px;
    }
    #usp-bar .uspi {
        font-size: 27px;
    }
    #usp-bar .rcb_nmbr {
        height: 17px;
        line-height: 17px;
        width: 17px;
    }
}
@media screen and (max-width:375px) {
    #usp-bar .rcb_icon {
        margin: 0 2px;
    }
    #usp-bar .rcb_nmbr {
        margin: 0 0 0 -10px;
    }
}
@media screen and (max-width:360px) {
    #usp-bar .rcb_left,
    #usp-bar .rcb_right {
        margin: 0;
    }
}
@media screen and (max-width:360px) {
    #usp-bar .rcb_icon {
        margin: 0;
    }
}