.usp-options {
    display: flex;
    border: var(--uspLine200);
    padding: 18px;
    background: var(--uspWhite);
}

.usp-option-menu {
    margin-right: 18px;
    width: 260px;
}

.usp-option-menu .usp-bttn__ico {
    font-size: 20px;
    box-sizing: border-box;
}

.usp-option-menu :not(.usp-submit-options) .usp-bttn__ico {
    min-width: 50px;
}

.usp-option-menu .usp-bttn span {
    font-size: 16px;
    width: auto;
}

.usp-toggle-extend {
    background: var(--uspRed-200) !important;
    border: var(--uspLine300);
    margin: 0 0 12px;
    color: var(--uspGray-700);
}

.usp-toggle-extend-show i::before {
    content: "\f14a";
}

.usp-options-tabs > a:not(:last-child) {
    border-bottom: 0 !important;
}

.usp-options-tabs a.usp-bttn__active {
    border-bottom-color: var(--uspHex);
}

.usp-submit-options.usp-bttn {
    margin: 12px 0;
    position: sticky;
    top: 48px;
}

.usp-option-fields {
    flex-grow: 1;
    font-size: 16px;
    color: var(--uspGray-700);
}

.usp-options .options-box {
    display: none;
    box-sizing: border-box;
    width: 100%;
    max-width: 650px;
}

.usp-options .options-box.active {
    display: block;
}

.usp-options .options-group {
    border: var(--uspLine200);
    background: var(--uspGray-50);
    color: var(--uspGray-700);
    font-size: 16px;
    padding: 0 0 12px;
}

.usp-options .options-group:not(:last-child) {
    margin-bottom: 18px;
}

.usp-options .options-group > div {
    margin: 24px 18px 12px;
}

.usp-children-field,
.usp-options .active-menu-item,
.usp-hide-more .extend-options {
    display: none;
}

.usp-options .extend-options {
    border-left: 3px solid var(--uspRed-300) !important;
}

.usp-options .usp-options-group-title {
    display: block;
    font-size: 24px;
    padding: 0 0 6px;
    margin: 18px;
}

.usp-options .usp-field-title {
    display: inline-block;
    padding: 0 3px 3px 0;
    vertical-align: middle;
}

@media screen and (max-width: 568px) {
    .usp-options {
        flex-direction: column;
    }

    .usp-option-menu {
        width: 100%;
        position: sticky;
        top: -54px;
        z-index: 2;
    }

    #usp-options .active-menu-item {
        display: flex;
    }

    .usp-options .usp-options-tabs {
        display: none;
    }

    .usp-options .usp-options-tabs.active-menu {
        display: block;
    }

    .usp-options .usp-submit-options {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 9;
        top: auto;
        margin: 0;
    }
}
