/*  v1.3
    156 icons
*/

/* todo подключить нормально через wp_head */

@font-face {
    font-family: 'usp-awesome';
    src: url('../icons/fonts/usp-awesome.woff2?8jdlrg') format('woff2'),
    url('../icons/fonts/usp-awesome.woff?8jdlrg') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.uspi {
    width: auto;
    text-align: center;
    display: inline-block;
    speak: never;
    text-transform: none;
    text-rendering: auto;
    font: normal normal 400 16px/1 'usp-awesome';
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* add modificators */
.fa-spin {
    animation: fa-spin 2s infinite linear
}

.fa-pulse {
    animation: fa-spin 1s infinite steps(8)
}

.fa-flip-horizontal {
    transform: scale(-1, 1)
}

:root .fa-flip-horizontal, :root .fa-flip-vertical {
    filter: none
}

/* END */


.fa-user-cog:before {
    content: "\f4fe";
}

.fa-users-cog:before {
    content: "\f509";
}

.fa-cog:before {
    content: "\f013";
}

.fa-cogs:before {
    content: "\f085";
}

.fa-user-secret:before {
    content: "\f21b";
}

.fa-user:before {
    content: "\f007";
}

.fa-user-friends:before {
    content: "\f500";
}

.fa-users:before {
    content: "\f0c0";
}

.fa-address-book:before {
    content: "\f2b9";
}

.fa-exclamation-triangle:before {
    content: "\f071";
}

.fa-exclamation-circle:before {
    content: "\f06a";
}

.fa-question-circle:before {
    content: "\f059";
}

.fa-info-circle:before {
    content: "\f05a";
}

.fa-info:before {
    content: "\f129";
}

.fa-bell:before {
    content: "\f0f3";
}

.fa-bell-slash:before {
    content: "\f1f6";
}

.fa-comment:before {
    content: "\f27a";
}

.fa-comment-dots:before {
    content: "\f4ad";
}

.fa-comment-row:before {
    content: "\f075";
}

.fa-comments:before {
    content: "\f086";
}

.fa-envelope:before {
    content: "\f0e0";
}

.fa-envelope-open:before {
    content: "\f2b6";
}

.fa-paper-plane:before {
    content: "\f1d8";
}

.fa-sync:before {
    content: "\f2f1";
}

.fa-spinner:before {
    content: "\f110";
}

.fa-circle-notched:before {
    content: "\f1ce";
}

.fa-list-ol:before {
    content: "\f0cb";
}

.fa-list-ul:before {
    content: "\f0ca";
}

.fa-list:before {
    content: "\f022";
}

.fa-th-list:before {
    content: "\f00b";
}

.fa-link:before {
    content: "\f0c1";
}

.fa-unlink:before {
    content: "\f127";
}

.fa-italic:before {
    content: "\f033";
}

.fa-bold:before {
    content: "\f032";
}

.fa-strikethrough:before {
    content: "\f0cc";
}

.fa-print:before {
    content: "\f02f";
}

.fa-save:before {
    content: "\f0c7";
}

.fa-copy:before {
    content: "\f0c5";
}

.fa-file:before {
    content: "\f15c";
}

.fa-image:before {
    content: "\f03e";
}

.fa-camera:before {
    content: "\f030";
}

.fa-eraser:before {
    content: "\f12d";
}

.fa-code:before {
    content: "\f121";
}

.fa-terminal:before {
    content: "\f120";
}

.fa-quote-right:before {
    content: "\f10e";
}

.fa-at:before {
    content: "\f1fa";
}

.fa-pencil:before {
    content: "\f303";
}

.fa-edit:before {
    content: "\f044";
}

.fa-object-ungroup:before {
    content: "\f248";
}

.fa-window-restore:before {
    content: "\f2d2";
}

.fa-lock:before {
    content: "\f023";
}

.fa-unlock:before {
    content: "\f09c";
}

.fa-folder:before {
    content: "\f07b";
}

.fa-folder-open:before {
    content: "\f07c";
}

.fa-paperclip:before {
    content: "\f0c6";
}

.fa-volume-off:before {
    content: "\f026";
}

.fa-volume-up:before {
    content: "\f028";
}

.fa-check-square:before {
    content: "\f14a";
}

.fa-square:before {
    content: "\f0c8";
}

.fa-check:before {
    content: "\f00c";
}

.fa-toggle-on:before {
    content: "\f205";
}

.fa-toggle-off:before {
    content: "\f204";
}

.fa-circle:before {
    content: "\f111";
}

.fa-dot-circle:before {
    content: "\f192";
}

.fa-check-circle:before {
    content: "\f058";
}

.fa-plus-circle:before {
    content: "\f055";
}

.fa-ban:before {
    content: "\f05e";
}

.fa-times-circle:before {
    content: "\f057";
}

.fa-window-close:before {
    content: "\f410";
}

.fa-times:before {
    content: "\f00d";
}

.fa-horizontal-sliders:before {
    content: "\f1de";
}

.fa-bars:before {
    content: "\f0c9";
}

.fa-horizontal-ellipsis:before {
    content: "\f141";
}

.fa-vertical-ellipsis:before {
    content: "\f142";
}

.fa-plus-square:before {
    content: "\f0fe";
}

.fa-minus-square:before {
    content: "\f146";
}

.fa-plus:before {
    content: "\f067";
}

.fa-minus:before {
    content: "\f068";
}

.fa-trash:before {
    content: "\f2ed";
}

.fa-trash-skew:before {
    content: "\f1f8";
}

.fa-shopping-cart:before {
    content: "\f07a";
}

.fa-shopping-cart-in:before {
    content: "\f218";
}

.fa-shopping-cart-add:before {
    content: "\f217";
}

.fa-shopping-basket:before {
    content: "\f291";
}

.fa-dollar-sign:before {
    content: "\f155";
}

.fa-euro-sign:before {
    content: "\f153";
}

.fa-ruble-sign:before {
    content: "\f158";
}

.fa-birthday-cake:before {
    content: "\f1fd";
}

.fa-car:before {
    content: "\f1b9";
}

.fa-money-check:before {
    content: "\f53d";
}

.fa-copyright:before {
    content: "\f1f9";
}

.fa-coffee:before {
    content: "\f0f4";
}

.fa-angle-down:before {
    content: "\f107";
}

.fa-angle-up:before {
    content: "\f106";
}

.fa-angle-left:before {
    content: "\f104";
}

.fa-angle-right:before {
    content: "\f105";
}

.fa-chevron-circle-left:before {
    content: "\f137";
}

.fa-chevron-circle-right:before {
    content: "\f138";
}

.fa-sign-in:before {
    content: "\f2f6";
}

.fa-sign-out:before {
    content: "\f2f5";
}

.fa-chevron-left:before {
    content: "\f053";
}

.fa-chevron-right:before {
    content: "\f054";
}

.fa-chevron-up:before {
    content: "\f077";
}

.fa-chevron-down:before {
    content: "\f078";
}

.fa-angle-double-left:before {
    content: "\f100";
}

.fa-angle-double-right:before {
    content: "\f101";
}

.fa-caret-left:before {
    content: "\f0d9";
}

.fa-caret-right:before {
    content: "\f0da";
}

.fa-caret-down:before {
    content: "\f0d7";
}

.fa-caret-up:before {
    content: "\f0d8";
}

.fa-upload:before {
    content: "\f093";
}

.fa-download:before {
    content: "\f019";
}

.fa-arrows:before {
    content: "\f0b2";
}

.fa-expand-arrows:before {
    content: "\f31e";
}

.fa-arrow-left:before {
    content: "\f060";
}

.fa-arrow-right:before {
    content: "\f061";
}

.fa-arrows-horizontal:before {
    content: "\f337";
}

.fa-arrows-vertical:before {
    content: "\f338";
}

.fa-external-link-square:before {
    content: "\f360";
}

.fa-external-link:before {
    content: "\f35d";
}

.fa-share-square:before {
    content: "\f14d";
}

.fa-reply:before {
    content: "\f3e5";
}

.fa-thumbs-down:before {
    content: "\f165";
}

.fa-thumbs-up:before {
    content: "\f164";
}

.fa-star:before {
    content: "\f005";
}

.fa-star-fill:before {
    content: "\f006";
}

.fa-star-half-o:before {
    content: "\f5c0";
}

.fa-star-half:before {
    content: "\f089";
}

.fa-heart:before {
    content: "\f004";
}

.fa-heart-fill:before {
    content: "\f008";
}

.fa-heartbeat:before {
    content: "\f21e";
}

.fa-rss:before {
    content: "\f09e";
}

.fa-wechat:before {
    content: "\f1d7";
}

.fa-twitter:before {
    content: "\f099";
}

.fa-home:before {
    content: "\f015";
}

.fa-bookmark:before {
    content: "\f02e";
}

.fa-book:before {
    content: "\f02d";
}

.fa-eye:before {
    content: "\f06e";
}

.fa-eye-slash:before {
    content: "\f070";
}

.fa-search:before {
    content: "\f002";
}

.fa-search-plus:before {
    content: "\f00e";
}

.fa-balance-scale:before {
    content: "\f24e";
}

.fa-newspaper:before {
    content: "\f1ea";
}

.fa-bug:before {
    content: "\f188";
}

.fa-sitemap:before {
    content: "\f0e8";
}

.fa-database:before {
    content: "\f1c0";
}

.fa-code-branch:before {
    content: "\f126";
}

.fa-shield:before {
    content: "\f3ed";
}

.fa-rocket:before {
    content: "\f135";
}

.fa-calendar-check:before {
    content: "\f274";
}

.fa-key:before {
    content: "\f084";
}

.fa-magic:before {
    content: "\f0d0";
}

.fa-wired-network:before {
    content: "\f6ff";
}

.fa-clock:before {
    content: "\f017";
}

.fa-history:before {
    content: "\f1da";
}

.fa-beaming-face-with-smiling-eyes:before {
    content: "\f5b8";
}
