#usp-office {
    background: rgba(236, 240, 241, 0.3);
    box-shadow: 0 0 1px 1px rgba(219, 219, 219, 0.8);
    color: #333;                    /*BlackTheme*/
    overflow: visible;
    position: relative;
}
#usp-office a:link {
    border: none;                   /*++Twenty15++*/
    box-shadow: none;               /*++Twenty16++*/
    text-decoration: none;
}
#usp-office h2 {
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    text-transform: none;
}
#usp-office h3 {
    font-size: 18px;
    line-height: 1;
    margin: 5px 0;
}
#usp-office p {
    line-height: 1;
    margin: 0;
    padding: 4px 0;
}
.usp-tab-button .usp-menu-notice {
    line-height: 1;
}
#lk-menu,
#usp-tabs {
    overflow: hidden;
}
#usp-office.horizontal-tabs #usp-tabs {
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeIn;
    opacity: 0;
}
#usp-tab-content {
    margin: 3px;
    overflow: hidden;
    position: relative;
}
#usp-office .recall_content_block {
    background: rgba(255, 255, 255, 0.7);
    display: none;
    overflow: hidden;
    padding: 4px 5px;
    position: relative;
}
#usp-office .recall_content_block.active {
    display: block;
}
@media screen and (max-width:360px) {
    #usp-office .recall_content_block {
        padding: 2px;
    }
}
/* блок lk-conteyner start */
#lk-conteyner {
    background-color: #e3e3e3;
    overflow: hidden;
    position: relative;
}
.lk-sidebar {
    float: left;
    line-height: 1;				/*++Twenty16++*/
}
/* блок lk-conteyner end */

/* START upload cover */
#usp-office .usp-cover-icon {
    background: rgba(0, 0, 0, 0.3);
    color: #ddd;
    float: right;
    font-size: 26px;
    padding: 4px 7px;
    z-index: 3;
}
#usp-office .usp-cover-icon:hover {
    color: #eee;
}
/* END upload cover */

/* START кнопки lite */
.cab_bttn_lite {
    float: right;
}
#usp-tabs-menu-counters .usp-tab-button {
    background: none;
    display: flex;
    flex-direction: column-reverse;
}
#usp-tabs-menu-counters .usp-tab-button .usp-bttn__ico{
    display: none;
}
#usp-tabs-menu-counters .usp-tab-button .usp-bttn__text{
    font-size: 12px;
    padding: 5px 0 0;
}
#usp-tabs-menu-counters .usp-tab-button .usp-bttn__count{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
/* END кнопки lite */

/* START аватар и элементы управления внутри него */
#usp-avatar {
    border: 5px solid #fff;
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
	width: 100%;
}
#usp-avatar img {
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    padding: 0;
	width: 100%;
}
#usp-avatar .avatar-icons {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#usp-avatar .avatar-icons .usp-avatar-icon {
    position: absolute;
}
#usp-avatar .avatar-icons .usp-avatar-icon a {
    background: rgb(216, 231, 238);
    color: rgb(229, 57, 53);
    font-size: 20px;
    opacity: 0.7;
    padding: 5px;
}
#usp-avatar .avatar-icons .usp-avatar-icon a:hover {
    opacity: 1;
}
#usp-avatar .icon-avatar-delete {
    display: none;
    right: 0;
    top: 0;
}
#usp-avatar:hover .icon-avatar-delete {
    display: block;
}
#usp-avatar .icon-avatar-upload {
    bottom: 0;
    left: 0;
}
#usp-avatar .icon-webcam-upload {
    bottom: 0;
    left: 35px;
}
#usp-avatar .icon-user-info {
    left: 0;
    top: 0;
}
/* END аватар и элементы управления внутри него */

.office-sunshine #lk-conteyner {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0;
}
.office-sunshine #lk-conteyner::after {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)) repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 38%;
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.cab_header {
    float: right;
    margin: 15px 0 8px;
    min-height: 5px;
}
.cab_content {
    display: inline-block;
    margin: 90px 0 0;
    min-height: 230px;
    position: relative;
    width: 100%;
    z-index: 2;
}
.cab_content .lk-sidebar {
    height: 200px;
    margin: 0 30px;
    width: 200px;
}
.lk-sidebar .lk-avatar {
    background: #ddd;
    box-shadow: 0 0 0 5px #fff;
    height: 100%;
    width: 100%;
}
.cab_title {
    display: inline-block;
    width: 68%;
    width: calc(100% - 265px);
}
.office-sunshine .cab_title h2 {
    color: #fff;
    font-size: 34px;
    line-height: 1.1;
    padding: 0;
    text-shadow: 1px 0 1px #000;
}
.office-sunshine .usp-action {
    color: #ddd;
    font-size: 14px;
    margin: 0 0 0 10px;
}
.cab_bttn {
    display: inline-block;
    margin: 10px 0 2px;
    width: 68%;
    width: calc(100% - 265px);
}
.cab_footer .cab_bttn a:hover {
    background: rgba(0, 0, 0, 0.4);
    opacity: 0.8;
}
.cab_bttn > div,
.cab_bttn > span {
    display: inline-block;
    margin: 1px;
}
.cab_bttn_lite {
    bottom: 15px;
    position: absolute;
    right: 15px;
}
#usp-office .cab_bttn_lite .usp-tab-button .usp-menu-notice span {
    display: inline-block;
}

/* START для сайдбара-виджета */
.theme_sidebar {
    margin: 6px 0;
}
.cab_content_blk {
    display: flex;
}
.cab_content_blk #usp-tab-content {
    width: 99%;
}
#usp-tab-content + .usp-notice {
	flex-shrink: 0;
}
.cab_sidebar {
    border-left: 1px solid #e5e5e5;
    flex-shrink: 0;
    margin: 0;
    max-width: 280px;
    padding: 5px;
}
.cab_sidebar .panel_lk_recall .usp-widget-buttons {
    overflow: hidden;
}
.vertical-menu .cab_content_blk .recall_content_block.active {
    min-width: 380px;
}
/* END для сайдбара-виджета */

/* START стили кнопок для скрипта */
#lk-menu a {
    margin: 0 3px 0 0;
    opacity: 1;
    padding: 0;
}
#lk-menu a .uspi {
    background: rgba(0, 0, 0, 0.1);
    font-size: 16px;
    padding: 7px;
    vertical-align: middle;
}
#lk-menu a span {
    font-size: 14px;
    margin: 0;
    padding: 0 8px;
    vertical-align: middle;
}
.horizontal-menu #usp-tabs {
    position: relative;
}
.horizontal-menu #lk-menu {
    font-family: unset;             /* IE edge fix */
    padding: 3px;
    width: 99%;                     /* old browsers */
    width: calc(100% - 30px);       /* отступ на гамбургер */
}
#lk-menu .hideshow a.bars {
    margin: 0;
    max-height: 30px;
    padding: 4px 7px;
}
#lk-menu a.bars .uspi {
    background: transparent;
    font-size: 23px;
    padding: 0;
}
#sunshine_ext_menu {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: top 0.25s ease-in-out 0s;
    z-index: -1;
}
#sunshine_ext_menu.bounce {
    opacity: 1;
    z-index: 1000;
}
#sunshine_ext_menu ul {
    background: #f8f8f8;
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 3px 3px 0;
    width: 200px;
}
#sunshine_ext_menu a {
    border-bottom: 3px solid #f8f8f8;
    display: flex;
    margin: 0;
    padding: 0;
    white-space: normal;
    width: 100%;
}
#sunshine_ext_menu a .uspi {
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: center;
    min-width: 35px;
}
#sunshine_ext_menu a span {
    font-size: 14px;
    margin: 0;
    padding: 10px 10px 10px 8px;
}
/* END стили кнопок для скрипта */

/* START left buttons */
.vertical-menu #lk-menu a .uspi {
    box-sizing: border-box;
    display: table-cell;
    width: 35px;
}
.vertical-menu #lk-menu a span {
    display: table-cell;
    padding: 5px;
}
/* new */
.vertical-menu #usp-tabs{
	display: flex;
}
.vertical-menu #usp-tabs-menu-menu{
	width: 190px;
	margin-right: 5px;
}
.vertical-menu #usp-tabs-menu-menu a{
	width: 100%;
}
.vertical-menu #usp-tab-content{
	width: 100%;
}
/* END left buttons */

/* START responsive */
@media screen and (max-width:800px) {
    .office-sunshine #lk-conteyner::after {
        height: 25%;
    }
    .cab_content {
        margin: 50px 0 0;
        min-height: 175px;
    }
    .office-sunshine .lk-sidebar {
        height: 150px;
        margin: 0 20px;
        width: 150px;
    }
    .lk-sidebar .lk-avatar {
        box-shadow: 0 0 0 4px #fff;
    }
    .cab_bttn,
    .cab_title {
        width: 68%;
        width: calc(100% - 205px);
    }
    .office-sunshine .cab_title h2 {
        font-size: 26px;
    }
    .office-sunshine .usp-action {
        font-size: 13px;
        line-height: 1;
    }
}
@media screen and (max-width:768px) {
    .cab_content_blk {
        display: block;
    }
    .cab_sidebar,
    .usp-content {
        border: none;
        max-width: none;
    }
    .vertical-menu .cab_content_blk .recall_content_block.active {
        min-width: auto;
    }
}
@media screen and (max-width:667px) {
    .cab_header {
        margin: 8px 0 0;
    }
    .cab_content {
        margin: 15px 0 0;
        min-height: 140px;
    }
    .cab_center {
        min-height: 45px;
    }
    .office-sunshine .lk-sidebar {
        height: 80px;
        margin: 0 15px;
        width: 80px;
    }
    .lk-sidebar .lk-avatar {
        box-shadow: 0 0 0 3px #fff;
    }
    .office-sunshine .usp-avatar-delete {
        padding: 5px 6px;
    }
    .office-sunshine .cab_title h2,
    .lk-avatar .cab_usr_info {
        font-size: 20px;
    }
    .cab_bttn,
    .cab_title {
        width: 68%;
        width: calc(100% - 155px);
    }
    .cab_bttn_lite {
        bottom: 0;
        margin: 8px 0;
        position: relative;
    }
}
@media screen and (max-width:480px) {
    .cab_content {
        margin: 8px 0 0;
    }
    .cab_center {
        display: inline-block;
        margin: 0 5px;
        text-align: center;
        width: 100%;
    }
    .office-sunshine .lk-sidebar {
        display: block;
        float: none;
        height: 210px;
        margin: 15px auto 10px;
        width: 210px;
    }
    .lk-avatar .cab_usr_info {
        font-size: 32px;
    }
    .lk-sidebar .lk-avatar {
        box-shadow: 0 0 0 5px #fff;
    }
    .cab_bttn,
    .cab_title {
        width: 100%;
    }
    .cab_content .cab_footer {
        text-align: center;
    }
    .cab_bttn_lite {
        display: table;
        float: none;
        margin: 8px auto;
        right: 0;
    }
}
@media screen and (max-width:360px) {
    #lk-conteyner .cab_bttn_lite .usp-tab-button span span {
        display: table-header-group;
    }
}
@media screen and (max-width:320px) {
    .office-sunshine .lk-sidebar {
        height: 205px;
        width: 205px;
    }
}
/* END responsive */