.theme_sidebar {
    margin: 24px 0;
}
#usp-office {
    box-sizing: border-box;
    line-height: 1.4;
}
.theme_sidebar h3,
#usp-office h3 {
    font-size: 22px;
    line-height: 1.4;
    margin: 0 0 12px;
}
#usp-office p {
    line-height: 1.4;
    margin: 0;
    padding: 6px 0;
}
#usp-office-profile {
    background-position: 50% 50%;
    background-size: cover;
    max-width: 1280px;
}
#usp-cover-upload {
    background: var(--uspBlack-03);
    color: #ddd;
    font-size: 24px;
    padding: 6px;
    margin: 6px;
    overflow: hidden;
}
#usp-cover-upload:hover {
    color: #eee;
}
#usp-cover-upload input {
    cursor: pointer;
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    max-width: 100%;
}
.usp-office-card {
    margin: 30px 0 0;
    min-height: 230px;
}
.usp-office-left {
    padding: 0 30px;
}
#usp-avatar {
    border: 3px solid var(--uspWhite);
    box-sizing: border-box;
    height: 200px;
    width: 200px;
}
#usp-avatar img {
    border-radius: 0;
    max-height: 100%;
    padding: 0;
    object-fit: cover;
    height: 100%;
}
.usp-ava-bttns {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#usp-avatar .usp-ava-bttn {
    background: var(--uspWhite);
    font-size: 18px;
    opacity: .8;
    position: absolute;
    box-shadow: none;
    cursor: pointer;
    color: var(--uspRed-800);
    width: 30px;
    height: 30px;
}
#usp-avatar .usp-ava-bttn:hover {
    opacity: 1;
}
#usp-avatar .icon-del-ava {
    right: 0;
    top: 0;
}
#usp-avatar:not(:hover) .icon-del-ava {
    display: none;
}
#usp-avatar .icon-set-ava {
    bottom: 0;
    left: 0;
}
#usp-avatar .icon-set-ava input {
    cursor: pointer;
    display: block;
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
    max-width: 100%;
}
.usp-under-ava {
    margin: 6px 0;
}
.usp-office-box:empty,
.usp-user-icons:empty,
.usp-under-ava:empty {
    display: none;
}
.usp-user-name {
    color: var(--uspWhite);
    font-size: 34px;
    line-height: 1.1;
    text-shadow: 1px 0 1px var(--uspBlack);
}
.usp-action {
    color: #ddd;
    font-size: 14px;
    margin: 0 0 0 12px;
}
.usp-office-middle > div {
    margin: 12px 0 0;
}
#usp-nav-counters .usp-tab-button {
    background: none;
}
#usp-nav-counters .usp-bttn__ico {
    display: none;
}
#usp-nav-counters .usp-bttn__count {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}
#usp-tabs {
    animation: 1s fadeIn 1s both;
    opacity: 0;
    z-index: 1;
}
.usp-nav__row #usp-tabs {
    flex-direction: column;
}
#usp-nav-menu {
    margin: 3px 3px 0 0;
}
.usp-tab-button {
    margin: 0 0 3px 3px;
}
.usp-nav__column #usp-nav-menu {
    max-width: 180px;
    min-width: 150px;
    margin-right: 18px;
    flex-grow: 1;
}
/* START for script */
.usp-dropdown {
    width: 60px;
    justify-content: center;
}
#usp-overlay.usp-overlay__ext-nav {
    background: 0 0;
    opacity: 0 !important;
}
#usp-ext-nav {
    opacity: 0;
    position: absolute;
    right: 0;
    transition: var(--uspLoadFast);
    z-index: -1;
    box-shadow: var(--uspBox400);
    transform: translateY(30px);
    max-height: 0;
    overflow: hidden;
    top: 90vh;
    background: var(--uspGray-100);
    padding: 3px 3px 0;
    width: 200px;
}
#usp-ext-nav.usp-ext-nav__open {
    opacity: 1;
    z-index: 1000;
    transform: translateY(0);
    max-height: 100vh;
    overflow-y: auto;
}
#usp-ext-nav a {
    border-bottom: 3px solid var(--uspGray-100);
    display: flex;
    margin: 0;
    padding: 0;
    white-space: normal;
    width: 100%;
}
#usp-ext-nav a .uspi {
    font-size: 16px;
}
@media screen and (max-width:768px) {
    #usp-nav-menu {
        flex-direction: row;
        max-width: none !important;
    }
}
/*end*/
.usp-profile-content {
    margin: 12px 0;
}
.usp-subtabs-menu ~ .usp-subtab-box {
    margin-top: 12px;
}
#usp-tab-content {
    margin-right: 12px;
}
.usp-nav__row #usp-tab-content {
    margin-left: 12px;
}
.usp-subtab-title {
    padding: 12px;
    margin-bottom: 12px;
    background: var(--uspGray-100);
    font-size: 18px;
}
.usp-subtab-title > span {
    margin: 0 0 0 6px;
}
.usp-right-sidebar {
    min-width: 200px;
    max-width: 300px;
    padding: 0 12px;
}
#usp-tab-content + .usp-right-sidebar {
    margin: 0 0 0 12px;
}
#usp-tab-content + .usp-notice {
    flex-shrink: 0;
}
@media screen and (max-width:800px) {
    .usp-user-name {
        font-size: 26px;
    }
}
@media screen and (max-width:568px) {
    .usp-office-card {
        margin-top: 6px;
        flex-direction: column;
        align-content: center;
    }
    .usp-office-left {
        padding: 0;
    }
    .usp-office-usermeta {
        margin: 12px 0;
    }
}
